<div class="btns-diccionari row">
    <div class="col-xs-12">
        <p class="lletres_multilingue">
            O llisteu {{ token }} que comencen per:<br/>
            <a href="{{ url }}/A/">A</a> -
            <a href="{{ url }}/B/">B</a> -
            <a href="{{ url }}/C/">C</a> -
            <a href="{{ url }}/D/">D</a> -
            <a href="{{ url }}/E/">E</a> -
            <a href="{{ url }}/F/">F</a> -
            <a href="{{ url }}/G/">G</a> -
            <a href="{{ url }}/H/">H</a> -
            <a href="{{ url }}/I/">I</a> -
            <a href="{{ url }}/J/">J</a> -
            <a href="{{ url }}/K/">K</a> -
            <a href="{{ url }}/L/">L</a> -
            <a href="{{ url }}/M/">M</a> -
            <a href="{{ url }}/N/">N</a> -
            <a href="{{ url }}/O/">O</a> -
            <a href="{{ url }}/P/">P</a> -
            <a href="{{ url }}/Q/">Q</a> -
            <a href="{{ url }}/R/">R</a> -
            <a href="{{ url }}/S/">S</a> -
            <a href="{{ url }}/T/">T</a> -
            <a href="{{ url }}/U/">U</a> -
            <a href="{{ url }}/V/">V</a> -
            <a href="{{ url }}/W/">W</a> -
            <a href="{{ url }}/X/">X</a> -
            <a href="{{ url }}/Y/">Y</a> -
            <a href="{{ url }}/Z/">Z</a>
        </p>
    </div>
</div>
