<div class="btns-diccionari row">
    <div class="col-xs-12">
        <p class="lletres_multilingue">
            O llisteu {{ token }} que comencen per:<br/>
            <span style="display:flex; flex-wrap:wrap; gap:4px;">
                <a href="{{ url }}/A/" style="flex:0 0 auto; min-width:10px; text-align:center;">A</a> -
                <a href="{{ url }}/B/" style="flex:0 0 auto; min-width:10px; text-align:center;">B</a> -
                <a href="{{ url }}/C/" style="flex:0 0 auto; min-width:10px; text-align:center;">C</a> -
                <a href="{{ url }}/D/" style="flex:0 0 auto; min-width:10px; text-align:center;">D</a> -
                <a href="{{ url }}/E/" style="flex:0 0 auto; min-width:10px; text-align:center;">E</a> -
                <a href="{{ url }}/F/" style="flex:0 0 auto; min-width:10px; text-align:center;">F</a> -
                <a href="{{ url }}/G/" style="flex:0 0 auto; min-width:10px; text-align:center;">G</a> -
                <a href="{{ url }}/H/" style="flex:0 0 auto; min-width:10px; text-align:center;">H</a> -
                <a href="{{ url }}/I/" style="flex:0 0 auto; min-width:10px; text-align:center;">I</a> -
                <a href="{{ url }}/J/" style="flex:0 0 auto; min-width:10px; text-align:center;">J</a> -
                <a href="{{ url }}/K/" style="flex:0 0 auto; min-width:10px; text-align:center;">K</a> -
                <a href="{{ url }}/L/" style="flex:0 0 auto; min-width:10px; text-align:center;">L</a> -
                <a href="{{ url }}/M/" style="flex:0 0 auto; min-width:10px; text-align:center;">M</a> -
                <a href="{{ url }}/N/" style="flex:0 0 auto; min-width:10px; text-align:center;">N</a> -
                <a href="{{ url }}/O/" style="flex:0 0 auto; min-width:10px; text-align:center;">O</a> -
                <a href="{{ url }}/P/" style="flex:0 0 auto; min-width:10px; text-align:center;">P</a> -
                <a href="{{ url }}/Q/" style="flex:0 0 auto; min-width:10px; text-align:center;">Q</a> -
                <a href="{{ url }}/R/" style="flex:0 0 auto; min-width:10px; text-align:center;">R</a> -
                <a href="{{ url }}/S/" style="flex:0 0 auto; min-width:10px; text-align:center;">S</a> -
                <a href="{{ url }}/T/" style="flex:0 0 auto; min-width:10px; text-align:center;">T</a> -
                <a href="{{ url }}/U/" style="flex:0 0 auto; min-width:10px; text-align:center;">U</a> -
                <a href="{{ url }}/V/" style="flex:0 0 auto; min-width:10px; text-align:center;">V</a> -
                <a href="{{ url }}/W/" style="flex:0 0 auto; min-width:10px; text-align:center;">W</a> -
                <a href="{{ url }}/X/" style="flex:0 0 auto; min-width:10px; text-align:center;">X</a> -
                <a href="{{ url }}/Y/" style="flex:0 0 auto; min-width:10px; text-align:center;">Y</a> -
                <a href="{{ url }}/Z/" style="flex:0 0 auto; min-width:10px; text-align:center;">Z</a>
            </span>
        </p>
    </div>
</div>

