<div class="row" style="margin-top: 10px;text-align: center;">
    Escolta'l a les plataformes més habituals
</div>
<div class="row" style="margin-top: 10px;text-align: center;">
    <style>
        .podcast-logo {
            width: 50px;
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>
    <a href="https://podcasts.apple.com/es/podcast/quinze-gla%C3%A7ons-dhidrogen/id1533535299">
        <img src="{{ themepath }}/static/images/podcasts/apple-podcasts.png" alt="Apple Podcasts" title="Apple Podcasts" class="podcast-logo">
    </a>
    <a href="https://open.spotify.com/show/1JAblKZ0W4As3iRwFrtT70?si=NmFnufdfSGi6PqctfboREA">
        <img src="{{ themepath }}/static/images/podcasts/spotify.png" alt="Spotify" title="Spotify" class="podcast-logo">
    </a>
    <a href="https://podcasts.google.com/feed/aHR0cHM6Ly93d3cuc29mdGNhdGFsYS5vcmcvcG9kY2FzdHMvcXVpbnplLWdsYWNvbnMtaGlkcm9nZW4vZmVlZC9wb2RjYXN0Lw">
        <img src="{{ themepath }}/static/images/podcasts/google-podcasts.png" alt="Google Podcasts" title="Google Podcasts" class="podcast-logo">
    </a>
    <a href="https://pca.st/yxnwy4ad">
        <img src="{{ themepath }}/static/images/podcasts/pocketcasts.png" alt="PocketCasts" title="PocketCasts" class="podcast-logo">
    </a>
    <a href="https://www.softcatala.org/podcasts/quinze-glacons-hidrogen/feed/podcast/">
        <img src="{{ themepath }}/static/images/podcasts/rss.png" alt="el teu lector RSS preferit" title="el teu lector RSS preferit" class="podcast-logo">
    </a>
</div>
<br /><br />
<hr />