<!-- .seccio-blanca -->
    <div class="wrap-blanc seccio-blanca">
      <div class="container-fluid">
        <p><strong>Lorem ipsum dolor sit ametadipiscing elit</strong></p>
        <p>Lorem ipsum dolor sit amet cectetur adipiscing elit</p>
        <div class="row logos">
          <div class="col-xs-12 col-sm-2 col-sm-offset-1"><img src="{{ themepath }}/static/images/content/img-franja-blanca-01.jpg" class="img-responsive center-block"></div>
          <div class="col-xs-12 col-sm-2"><img src="{{ themepath }}/static/images/content/img-franja-blanca-02.jpg" class="img-responsive center-block"></div>
          <div class="col-xs-12 col-sm-2"><img src="{{ themepath }}/static/images/content/img-franja-blanca-03.jpg" class="img-responsive center-block"></div>
          <div class="col-xs-12 col-sm-2"><img src="{{ themepath }}/static/images/content/img-franja-blanca-04.jpg" class="img-responsive center-block"></div>
          <div class="col-xs-12 col-sm-2"><img src="{{ themepath }}/static/images/content/img-franja-blanca-05.jpg" class="img-responsive center-block"></div>

        </div>
        <div class="row logos">
          <div class="col-xs-12 col-sm-2 col-sm-offset-1"><img src="{{ themepath }}/static/images/content/img-franja-blanca-01.jpg" class="img-responsive center-block"></div>
          <div class="col-xs-12 col-sm-2"><img src="{{ themepath }}/static/images/content/img-franja-blanca-02.jpg" class="img-responsive center-block"></div>
          <div class="col-xs-12 col-sm-2"><img src="{{ themepath }}/static/images/content/img-franja-blanca-03.jpg" class="img-responsive center-block"></div>
          <div class="col-xs-12 col-sm-2"><img src="{{ themepath }}/static/images/content/img-franja-blanca-04.jpg" class="img-responsive center-block"></div>
          <div class="col-xs-12 col-sm-2"><img src="{{ themepath }}/static/images/content/img-franja-blanca-05.jpg" class="img-responsive center-block"></div>

        </div>
      </div>
    </div><!--/.seccio-blanca -->