<!-- .seccio-blanca -->
    <div class="wrap-blanc seccio-blanca">
      <div class="container-fluid">
        <p><strong>El traductor de Softcatalà funciona gràcies a</strong></p>
        <div class="row logos" style="text-align: center; margin-top: 45px;">
        <div class="col-xs-12 col-sm-2 col-sm-offset-1">
            <a href="https://www.apertium.org" title="Apertium" style="display: block; height: 160px; margin-top: -30px;">
              <img src="{{ themepath }}/static/images/logos/apertium.png" class="img-responsive center-block" alt="logo d'Apertium">
            </a>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a href="http://www.ua.es/va" title="Universitat d'Alacant" style="display: block; height: 160px; margin-top: -30px;">
              <img src="{{ themepath }}/static/images/logos/universitat_alacant.png" class="img-responsive center-block" alt="logo universitat d'Alacant">
            </a>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a href="http://www.prompsit.com/" title="Prompsit" style="display: block; height: 160px; margin-top: -30px;">
              <img src="{{ themepath }}/static/images/logos/prompsit.png" class="img-responsive center-block" alt="logo prompsit">
            </a>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a href="http://transducens.dlsi.ua.es/" title="Transducens" style="display: block; height: 160px; margin-top: -30px;">
              <img src="{{ themepath }}/static/images/logos/transducens.png" class="img-responsive center-block" alt="logo Transducens">
            </a>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a href="http://www.dlsi.ua.es/" title="DLSI Universitat d'Alacant" style="display: block; height: 160px; margin-top: -30px;">
              <img src="{{ themepath }}/static/images/logos/logo_depinformatic.png" class="img-responsive center-block" alt="logo LSI Universitat d'Alacant">
            </a>
          </div>
        </div>
      </div>
    </div><!--/.seccio-blanca -->
