<ul id="tabsconjugador" class="nav nav-tabs">
        
        <li class="active"><a data-toggle="tab" href="#indicatiu">Mode indicatiu</a></li>
        <li><a data-toggle="tab" href="#subjuntiu">Mode subjuntiu</a></li>
        <li><a data-toggle="tab" href="#imperatiu">Imperatiu</a></li>
        <li><a data-toggle="tab" href="#nopersonals">Formes no personals</a></li>
</ul>
<div class="tab-content">
  <div id="indicatiu" class="result-conjugador col-md-12 tab-pane  in active">
            <h2>{{ response.verbinf|capitalize }}</h2>
            <h4>Mode indicatiu</h4>
            {% for verbs in response.result if verbs.group == 'Indicatiu'  %}
                            <div class="col-md-12">
                                            <div class="panel panel-primary">
                                            
                                                <div class="panel-heading">{{ verbs.form }}</div>
                                                <table class="table">
                                                    {% for clau, subjecte in response.temps %}
                                                        <tr>
                                                             <th>{{ subjecte|e }}</th>
                                                             <td>
                                                        {% for verb in attribute(verbs, clau) %}
                                                                 {{- verb.word -}} 
                                                                {%- if attribute(response.variants, verb.variant) is defined -%}
                                                                 <span class="variant"> {{ attribute(response.variants, verb.variant) }}</span>
                                                                {%- endif -%}
                                                                
                                                                {%- if loop.last == false  %}, {% endif -%}
                                                        {% endfor -%}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>

                                                    
                                            </div>
                            </div>      
            {% endfor %}

    </div>

    <div id = "subjuntiu" class="result-conjugador col-md-12 tab-pane">
            <h2>{{ response.verbinf|capitalize }}</h2>
            <h4>Mode subjuntiu</h4>
            {% for verbs in response.result if verbs.group == 'Subjuntiu'  %}
                            <div class="col-md-12">
                                            <div class="panel panel-primary">
                                            
                                                <div class="panel-heading">{{ verbs.form }}</div>
                                                <table class="table">
                                                    {% for clau, subjecte in response.temps %}
                                                        <tr>
                                                             <th>{{ subjecte|e }}</th>
                                                             <td>
                                                        {% for verb in attribute(verbs, clau) %}
                                                                 {{- verb.word -}} 
                                                                {%- if attribute(response.variants, verb.variant) is defined -%}
                                                                 <span class="variant"> {{ attribute(response.variants, verb.variant) }}</span>
                                                                {%- endif -%}
                                                                {%- if loop.last == false  %}, {% endif -%}
                                                        {% endfor -%}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>

                                                    
                                            </div>
                            </div>   
                
            {% endfor %}
    </div>
    <div id = "imperatiu" class="result-conjugador col-md-12 tab-pane">
            
            <h2>{{ response.verbinf|capitalize }}</h2>
            <h4>Imperatiu</h4>
            {% for verbs in response.result if verbs.group == 'Imperatiu'  %}
                            <div class="col-md-12">
                                            <div class="panel panel-primary">
                                            
                                                <div class="panel-heading">{{ verbs.form }}</div>
                                                <table class="table">
                                                    {% for clau, subjecte in response.temps %}    
                                                        <tr>
                                                             <th>{{ subjecte|e }}</th>
                                                             <td>
                                                        {% for verb in attribute(verbs, clau) %}
                                                                 {{- verb.word -}} 
                                                                {%- if attribute(response.variants, verb.variant) is defined -%}
                                                                 <span class="variant"> {{ attribute(response.variants, verb.variant) }}</span>
                                                                {%- endif -%}
                                                                {%- if loop.last == false  %}, {% endif -%}
                                                        {% endfor -%}
                                                            </td>
                                                        </tr>  
                                                    {% endfor %}
                                                </table>

                                                    
                                            </div>
                            </div>   
                
            {% endfor %}
    </div>
    <div id = "nopersonals" class="result-conjugador col-md-12 tab-pane">
        <h2>{{ response.verbinf|capitalize }}</h2>
        <h4>Formes no personals</h4>
             <div class="col-md-12">
                <div class="panel panel-primary">                           
                    <div class="panel-heading">Formes no personals</div>
                                     
                    
                    
                    <table class="table">
                    {% for verbs in response.result if verbs.group == 'Formes no personals'  %}
                        <tr>
                            <th>{{ verbs.form }} </th>
                            <td>
                            {% set i = 1 %}
                            {% for clau, subjecte in response.temps if  attribute(verbs, clau) | length > 0 %}
                            
                                   {%- for verb in attribute(verbs, clau)  -%} 
                                            {% if i > 1 %}, {% endif %} 
                                            {{- verb.word -}}
                                            {% set i = i + 1%}
                                            {%- if attribute(response.variants, verb.variant) is defined -%}
                                                <span class="variant"> {{ attribute(response.variants, verb.variant) }}</span>
                                            {%- endif -%}   
                                                                                         
                                  {%- endfor -%}                  
                            {% endfor %}
                            </td>
                        </tr>


                    {% endfor %}
                    </table>
                </div>
            </div>
    </div>

</div>







