{% if single_entry.corpus %}
<section class="corpus">
    <header>Exemples d'us</header>
        <table class="table-corpus">
                {% for corpus in single_entry.corpus %}
                        <tr class="{{ loop.index > 5 ? 'corpus_hidden' : '' }}"> 
                            <td>
                                {% if corpus.highlight.src.0 %}
                                    {{corpus.highlight.src.0}}
                                {% else %}
                                    {{corpus.src}}
                                {% endif %}
                            </td>
                            <td>
                                {% if corpus.highlight.trg.0 %}
                                    {{corpus.highlight.trg.0}}
                                {% else %}
                                    {{corpus.trg}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="source_corpus {{ loop.index > 5 ? 'corpus_hidden' : '' }}"> 
                            <td  colspan="2">
                            {% if corpus.project %}
                                Font: {{ corpus.project }}
                            {% endif %}
                            </td>
                        </tr>
                {% endfor %}
                        <tr class="mes_exemples"> 
                            <td  colspan="2">
                                <a class="mostra_corpus">Mostra més exemples</a>
                            </td>
                        </tr>
        </table>
     </section>
{% endif %}


