<style>

.resultats_diccionari_engcat{
    border: 0px solid #cccccc;
    clear: both;
    width: 100%;
}

.diccionari-engcat-panel{
    padding-top:10px;
}

.diccionari-engcat-panel h2{
    font-weight: bold;
    font-size: 20px;
    margin-bottom:0;
    margin-top:0;

}

.diccionari-engcat-panel header{
    font-weight: bold; !important
    font-size: 20px;
    border-bottom: 1px solid black;
}

/* TODO: move rules to css file */


.panel-corpus{
   padding:0
}
.table-corpus{
    margin:0;
    border:0;
    background-color:white;
    border-spacing: 0;
}

.table-corpus td{
    width:50%;
    font-size:12px;
    background-color:inherit;
   
}

.table-corpus td em{
    font-weight: bold;
}


</style>
<article>
    
    <header>{{ lemma.originalWord | prepareLemmaHeading}}</header>
    
        {% for subLemma in lemma.subLemmaList  %}
                {{ subLemma.originalWord | prepareSubLemma}}
                <ol>
                  {% set fullGTag = subLemma.originalWord | fullGrammarTag %}
                 
                  {% for translationsSet in subLemma.translationsSets %}
                    <li>
                        {% for translatedWord in translationsSet.translatedWords %}
                            {{ loop.index > 1 ? ' | ' : '' }} {{ translatedWord | prepareWord(fullGTag) }}
                        {% endfor %}
                    </li>
                
                    {#
                    {% if loop.first and not first %}‖{% endif %}
                        {{
                            dump(translationsSet)
                        }}
                    {% if not loop.last %}|{% endif %}
                    #}
                {% endfor %}
                </ol>
        {% endfor %}  
   
</article>



