    «{{  paraula }}», la paraula que heu cercat, no es troba al diccionari.
    <ul>
        <li>Heu seleccionat «<strong>{{ langname }}</strong>». Potser no és la llengua correcta?</li>
        {% if suggestions %}
            <li>Potser estàveu buscant aquestes paraules?
                <ul class="col-sm-offset-1 col-sm-8" style="">
                    {% for suggestion in suggestions %}
                    <li>
                        {%  if lang != 'ca' %}
                            <a href="/diccionari-multilingue/paraula/{{ suggestion }}/llengua/{{ lang }}/">
                                {{ suggestion }}
                            </a>
                        {% else %}
                            <a href="/diccionari-multilingue/paraula/{{ suggestion }}/">
                                {{ suggestion }}
                            </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {%  endif %}
    </ul>