<h1>{{ sinonims.paraula }}</h1>
<ol>
    {% for sinonim in sinonims.response %}
        <li>
            {% if sinonim.categories %}
                <strong>
            {% for categoria in sinonim.categories %}
                {{ categoria }}{% if not loop.last %}, {% else %}: {% endif %}
            {% endfor %}
                </strong>
            {% endif %}
            {% if sinonim.terms %}
                {% for term in sinonim.terms %}
                    <a href="/diccionari-de-sinonims/paraula/{{ term.term }}" title="Sinònims de {{ term.term }}">{{ term.term }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </li>
    {% endfor %}
</ol>
