{% if word.link -%}
	<a href="/diccionari-de-sinonims/paraula/{{ word.wordString }}" data-sinonim="{{ word.wordString }}">
		{{- word.wordString -}}
		{%- include 'ajax/sinonims-paraula-feminine.twig' with {'word': word.feminineForm } only -%}</a>
{%- else -%}
	{{ word.wordString -}}
	{% include 'ajax/sinonims-paraula-feminine.twig' with {'word': word.feminineForm } only -%}
{%- endif -%}
{%- if word.wordComment %}
    (<i>{{ word.wordComment }}</i>)
{%- endif -%}
{%- if not last %}, {% endif %}
