<div class="wrap">
    <h2>Paràmetres generals de Softcatalà</h2>
    <h3>Llistes de correu</h3>
    <form method="post" action="options.php">

        {{ function( 'settings_fields', 'softcatala-group' ) }}
        {{ function( 'do_settings_sections', 'softcatala-group' ) }}
        <p>
        <table class="form-table">
            <tbody><tr valign="top">
            <tr>
                <th scope="row"><label>Contrasenya global</label></th>
                <td><input type="password" value="{{ function( 'get_option', 'llistes_access') }}" id="llistes_access" name="llistes_access"></td>
            </tr>
            </tbody></table>
        </p>

    <h3>Servidors API</h3>
        <p>
        <table class="form-table">
            <tbody><tr valign="top">
            <tr>
                <th scope="row"><label>URL API Diccionari de sinònims</label></th>
                <td><input type="text" style="width: 50%" value="{{ function( 'get_option', 'api_diccionari_sinonims') }}" id="api_diccionari_sinonims" name="api_diccionari_sinonims"></td>
            </tr>
            <tr>
                <th scope="row"><label>URL API Diccionari multilingüe</label></th>
                <td><input type="text" style="width: 50%" value="{{ function( 'get_option', 'api_diccionari_multilingue') }}" id="api_diccionari_multilingue" name="api_diccionari_multilingue"></td>
            </tr>
            </tbody></table>
        </p>
        {{ function('submit_button') }}
    </form>
</div>