<div class="wrap">
    <h1>Paràmetres generals de Softcatalà</h1>

    <h2 id="wpseo-tabs" class="nav-tab-wrapper">
        <a data-id="settings_switches" class="nav-tab nav-tab-active" href="#">Funcionalitat opcional</a>
        <a data-id="email_contacte" class="nav-tab" href="#">E-mails contacte</a>
        <a data-id="llistes" class="nav-tab" href="#">Llistes de correu</a>
        <a data-id="servidors_api" class="nav-tab" href="#">Servidors API</a>
        <a data-id="rewrites" class="nav-tab" href="#">Paràmetres de rewrites</a>
        <a data-id="textos" class="nav-tab" href="#">Textos</a>
    </h2>

    <form method="post" action="options.php">
        {{ function( 'settings_fields', 'softcatala-group' ) }}
        <section>
            <div id="settings_switches">
                <h3>Opcions que habiliten o deshabiliten funcionalitat opcional</h3>
                <p>
                <table class="form-table">
                    <tbody><tr valign="top">
                    <tr>
                        <th scope="row">
                            <label>
                                    <strong>Corrector</strong>
                                    Habilita/deshabilita el seguiment d'interaccions de l'usuari
                            </label>
                        </th>
                        <td>
                            {% if settings.get_setting(constant('SC_Settings::SETTINGS_LOG_CORRECTOR_USER_EVENTS')) %}
                                <input type="checkbox" checked="checked" id="{{ constant('SC_Settings::SETTINGS_LOG_CORRECTOR_USER_EVENTS') }}" name="{{ constant('SC_Settings::SETTINGS_LOG_CORRECTOR_USER_EVENTS') }}">
                            {% else %}
                                <input type="checkbox" id="{{ constant('SC_Settings::SETTINGS_LOG_CORRECTOR_USER_EVENTS') }}" name="{{ constant('SC_Settings::SETTINGS_LOG_CORRECTOR_USER_EVENTS') }}">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label>
                                    <strong>Diccionari de sinònims</strong>
                                    Habilita/deshabilita l'enviament de correus electrònics quan falla el servei
                            </label>
                        </th>
                        <td>
                            {% if settings.get_setting(constant('SC_Settings::SETTINGS_SEND_EMAILS_THESAURUS_ERRORS')) %}
                                <input type="checkbox" checked="checked" id="{{ constant('SC_Settings::SETTINGS_SEND_EMAILS_THESAURUS_ERRORS') }}" name="{{ constant('SC_Settings::SETTINGS_SEND_EMAILS_THESAURUS_ERRORS') }}">
                            {% else %}
                                <input type="checkbox" id="{{ constant('SC_Settings::SETTINGS_SEND_EMAILS_THESAURUS_ERRORS') }}" name="{{ constant('SC_Settings::SETTINGS_SEND_EMAILS_THESAURUS_ERRORS') }}">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label>
                                    <strong>Traductor</strong>
                                    Habilita/deshabilita el registre de textos per a la millora
                            </label>
                        </th>
                        <td>
                            {% if settings.get_setting(constant('SC_Settings::SETTINGS_LOG_TRADUCTOR_SOURCE')) %}
                                <input type="checkbox" checked="checked" id="{{ constant('SC_Settings::SETTINGS_LOG_TRADUCTOR_SOURCE') }}" name="{{ constant('SC_Settings::SETTINGS_LOG_TRADUCTOR_SOURCE') }}">
                            {% else %}
                                <input type="checkbox" id="{{ constant('SC_Settings::SETTINGS_LOG_TRADUCTOR_SOURCE') }}" name="{{ constant('SC_Settings::SETTINGS_LOG_TRADUCTOR_SOURCE') }}">
                            {% endif %}
                        </td>
                    </tr>
                    </tbody></table>
                </p>
            </div>
            <div id="email_contacte">
                <h3>Adreces electròniques de contacte per secció</h3>
                <p>
                {% for key, section in sections %}
                    {{ section }}
                {% endfor %}
                <table class="form-table">
                    <thead>
                    <tr style="border-bottom: 1px solid #CCCCCC;">
                        <td style="font-weight: bold;">Secció</td>
                        <td style="font-weight: bold;">E-mail de contacte</td>
                    </tr>
                    </thead>
                    {% for key, section in sections %}
                    <tr>
                        {% set section_key %}email_{{ key }}{% endset %}
                        <td style="font-weight: bold;">{{ section }}</td>
                        <td><input type="email" style="width:250px;" name="email_{{ key }}" id="email_{{ key }}" value="{{ function( 'get_option', section_key) }}"/></td>
                    </tr>
                    {% endfor %}
                </table>
                </p>
            </div>
            <div id="llistes" style="display: none;">
                <h3>Llistes de correu</h3>
                <p>
                <table class="form-table">
                    <tbody><tr valign="top">
                    <tr>
                        <th scope="row"><label>Contrasenya global</label></th>
                        <td><input type="password" value="{{ function( 'get_option', 'llistes_access') }}" id="llistes_access" name="llistes_access"></td>
                    </tr>
                    </tbody></table>
                </p>
            </div>
            <div id="servidors_api" style="display:none;">
                <h3>Servidors API</h3>
                <p>
                <table class="form-table">
                    <tbody><tr valign="top">
                    <tr>
                        <th scope="row"><label>URL API Diccionari de sinònims</label></th>
                        <td><input type="text" style="width: 50%" value="{{ function( 'get_option', 'api_diccionari_sinonims') }}" id="api_diccionari_sinonims" name="api_diccionari_sinonims"></td>
                    </tr>
                    <tr>
                        <th scope="row"><label>URL API Diccionari multilingüe</label></th>
                        <td><input type="text" style="width: 50%" value="{{ function( 'get_option', 'api_diccionari_multilingue') }}" id="api_diccionari_multilingue" name="api_diccionari_multilingue"></td>
                    </tr>
                    <tr>
                        <th scope="row"><label>URL API Conjugador</label></th>
                        <td><input type="text" style="width: 50%" value="{{ function( 'get_option', 'api_conjugador') }}" id="api_conjugador" name="api_conjugador"></td>
                    </tr>
                    <tr>
                        <th scope="row"><label>URL API Memories de traduccio</label></th>
                        <td><input type="text" style="width: 50%" value="{{ function( 'get_option', 'api_memory_base') }}" id="api_memory_base" name="api_memory_base"></td>
                    </tr>
                    <tr>
                        <th scope="row"><label>URL API LanguageTool</label></th>
                        <td><input type="text" style="width: 50%" value="{{ function( 'get_option', 'api_languagetool') }}" id="api_languagetool" name="api_languagetool"></td>
                    </tr>

                    </tbody></table>
                </p>
            </div>
            <div id="rewrites" style="display:none;">
                <h3>Servidors API</h3>
                <p>
                <table class="form-table">
                    <tbody><tr valign="top">
                    <tr>
                        <th scope="row"><label>ID de la pàgina del catalanitzador</label></th>
                        <td><input type="text" style="width: 50%" value="{{ function( 'get_option', 'catalanitzador_post_id') }}" id="catalanitzador_post_id" name="catalanitzador_post_id"></td>
                    </tr>
                    <tr>
                        <th scope="row"><label>ID de la pàgina d'aparells</label></th>
                        <td><input type="text" style="width: 50%" value="{{ function( 'get_option', 'aparells_post_id') }}" id="aparells_post_id" name="aparells_post_id"></td>
                    </tr>
                    </tbody></table>
                </p>
            </div>
            <div id="textos" style="display:none;">
                <h3>Textos generals del web</h3>
                <p>
                <table class="form-table">
                    <tbody><tr valign="top">
                    <tr>
                        <th scope="row"><label>Text del formulari per afegir programa nou</label></th>
                            <td><textarea style="width: 50%" id="sc_text_programes" name="sc_text_programes">{{ function( 'get_option', 'sc_text_programes') }}</textarea></td>
                    </tr>
                    </tbody></table>
                </p>
            </div>
        </section>

        {{ function('submit_button') }}
    </form>
</div>
