{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
    <!-- .main-header -->
    {% embed "contingut-header.twig" %}
    {% endembed %}
    <!--/.main-header -->

    <div class="container-fluid">

        <!-- .contingut -->
        <div class="contingut">
            <!-- .contingut-header -->
            <header class="contingut-header">
                <p>{{ post.content }}</p>
            </header><!--/.contingut-header -->


            <!-- section paragraf + thumb gris img -->
            <section class="contingut-section">

                <!-- .row -->
                <div class="row">
                {% if posts %}
                    {% for post in posts %}
                    <div class="col-sm-6">
                        <div class="thumbnail thumbnail-gris-img">
                            <a href="{{ post.link }}" title="{{ post.title }}">
                                <img src="{{ post.logotip }}" alt="logotip {{ post.title }}">
                                <div class="caption">
                                    <h3>{{ post.title }}</h3>
                                    <p>{{ post.post_excerpt|truncate(25) }}</p>
                                    <span class="bt-aneu">col·laboreu-hi<i class="fa fa-chevron-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                </div><!--/.row -->

                <!-- .pagination -->
                {% include "pagination.twig" %}
                <!--/.pagination -->
            </section><!-- section paragraf + thumb gris img -->

            <!--/.contingut-footer -->
            <footer class="contingut-footer">
                <div class="row">
                    <div class="col-sm-9">
                        {% for element in sidebar_elements %}
                            {% include element %}
                        {% endfor %}
                    </div>
                    {% include "sidebar.twig" %}
                </div>
            </footer><!--/.contingut-footer -->

        </div><!--/.contingut -->
    </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

{% endblock %}