{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main blog wrap-blanc archive-podcast-programa">
        <!-- .main-header -->
        {% include "contingut-header.twig" %}
        <!--/.main-header -->

        <div class="container-fluid">
            <div class="contingut row">
                <div class="podcast col-sm-6">
                    {% include "static/podcasts-buttons.twig" %}
                    <div>
                        {{ term.description() }}
                    </div>
                </div>

                <section class="episodes col-sm-6">
                {% for episode in posts %}
                    <article class="episode">
                        <div class="thumbnail thumbnail-gris-img">
                            <a href="{{ episode.link }}">
                                <img class="podcast-cover"
                                        src="{{ episode.thumbnail.src | resize(180)}}" />
                                <div class="caption">
                                    <h3>
                                        {% if episode.episode_type != 'bonus' %}
                                            {{ episode.episode_season }}x{{ episode.episode_number }}:
                                        {% endif %}
                                        {{ episode.title }}
                                    </h3>
                                    <div>{{ episode.post_excerpt | wpautop }}</div>
                                    <div class="episode-cta">
                                        <span class="bt-aneu">
                                            <i class="fas fa-chevron-right"></i> més informació
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                {% endfor %}
                </section>

            </div><!--/.contingut -->
        </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "form-novetats.twig" %}
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

{% endblock %}
