{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main blog wrap-blanc">
        <!-- .main-header -->
        <header class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-8 col-sm-9">
                        <h1>Esdeveniments</h1>
                        {% if tag %}
                            <span>/</span>
                            <h2>{{ tag }}</h2>
                        {% endif %}
                        {% include "share_links.twig" %}
                    </div>
                    {% if attribute(post,'wpcf-call_to_action_top_url') %}
                        <div class="col-xxs-12 col-xs-4 col-sm-3">
                            <a href="{{ attribute(post,'wpcf-call_to_action_top_url') }}" class="bt-basic bt-basic-vermell">{{ attribute(post,'wpcf-call_to_action_top_text') }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header><!--/.main-header -->

        <div class="container-fluid">
            <div class="row">

                <!-- .contingut -->
                <div class="contingut contingut-left col-sm-12 col-md-9">
                    <!-- .contingut-header -->
                    <header class="contingut-header">
                        <!-- .filtres -->
                        <form class="searchform" method="get" id="cerca_noticies" role="search" action="{{user_info.current_url}}">
                            <div class="filtres row">
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="{% if cerca %}{{cerca}}{% endif %}" placeholder="Escriviu aquí la vostra cerca" id="s" name="s" />
                                        <input type="hidden" value="esdeveniment" name="post_type" />
                                        <input type="hidden" value="1" name="sentence" />
                                        {% if selected_filter %}
                                            <input type="hidden" value="{{ selected_filter }}" name="filtre" />
                                        {% endif %}
                                        <span class="input-group-addon"><button type="submit" class="btn lupa"><i class="fa fa-search"></i></button></span>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <!-- dropdown categories -->
                                                <div class="col-sm-6">
                                                    <select class="form-control selectpicker" id="temes">
                                                        <option value="/esdeveniments/{{ user_info.current_url_params }}">Tots els temes</option>
                                                        {% for category in categories.temes %}
                                                            <option value="{{ category.link }}{{ user_info.current_url_params }}" {% if cat_link == category.link %}selected{% endif %}>{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div><!--/dropdown sitemes operatius -->

                                                <!-- dropdown date filters -->
                                                <div class="col-sm-6">
                                                    <select class="form-control selectpicker" id="tipus">
                                                        <option value="{{user_info.current_url_filtre}}">Qualsevol dia</option>
                                                        {% for filter in filters %}
                                                            <option value="{{ user_info.current_url_filtre }}{{ user_info.current_url_filtre_addition }}filtre={{ filter.link }}" {% if selected_filter == filter.link %}selected{% endif %}>{{ filter.title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div><!--/dropdown categories -->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!--/.filtres -->
                        </form>
                    </header><!--/.contingut-header -->

                    {% if posts %}
                    {% for esdeveniment in posts %}
                    <section class="llista-esdeveniments">
                        {% if loop.first %}
                            {% set year = attribute(esdeveniment,'wpcf-data_inici')|date('Y') %}
                            <h2 class="any">{{attribute(esdeveniment,'wpcf-data_inici')|date('Y')}}</h2>
                        {% endif %}
                        {% set current_post_year = attribute(esdeveniment,'wpcf-data_inici')|date('Y') %}
                        {% if current_post_year != year %}
                            {% set year = attribute(esdeveniment,'wpcf-data_inici')|date('Y') %}
                            <h2 class="any">{{attribute(esdeveniment,'wpcf-data_inici')|date('Y')}}</h2>
                        {% endif %}
                        <article class="contingut-article">
                            <div class="row">
                                <div class="col-sm-9">
                                    <i><span><strong>{{attribute(esdeveniment,'wpcf-data_inici')|date('j')}}</strong>{{attribute(esdeveniment,'wpcf-data_inici')|date('M')}}</span></i>
                                    <h2><a href="{{esdeveniment.link}}">{{esdeveniment.title}}</a></h2>
                                    <!-- .article-footer -->
                                    <footer class="article-footer">
                                        {{esdeveniment.ciutat}}<br/>
                                        <time class="data-temps" itemprop="dateCreated" datetime="{{ attribute(esdeveniment,'wpcf-data_inici')|date('Y-n-j') }}">{{ attribute(esdeveniment,'wpcf-data_inici')|date('j M Y') }}{% if attribute(esdeveniment,'wpcf-data_fi') %}{% if attribute(esdeveniment,'wpcf-data_fi') != attribute(esdeveniment,'wpcf-data_inici') %} - {{ attribute(esdeveniment,'wpcf-data_fi')|date('j M Y') }}{% endif %}{% endif %}</time>
                                    </footer><!--/.article-footer -->
                                </div>
                                {% if esdeveniment.thumbnail.src %}
                                <div class="col-sm-3">
                                    <img width="170" alt="{{esdeveniment.title}}" src="{{esdeveniment.thumbnail.src}}">
                                </div>
                                {% endif %}
                            </div>
                            <hr class="clara">
                        </article>
                    </section>
                    {% endfor %}

                    <!-- .pagination -->
                    <div class="row">
                        <div class="intern">
                            <nav class="intern-center">
                                <ul class="pagination">
                                    {% if pagination.prev %}
                                        <li>
                                            <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}"><span aria-hidden="true">«</span></a>
                                        </li>
                                    {% endif %}
                                    {% for page in pagination.pages %}
                                        <li>
                                            {% if page.link %}
                                                <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                                            {% else %}
                                                <span class="{{page.class}}">{{page.title}}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    {% if pagination.next %}
                                        <li>
                                            <a href="{{pagination.next.link}}" aria-label="Next" class="next {{pagination.next.link|length ? '' : 'invisible'}}"><span aria-hidden="true">»</span></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% else %}
                    No s'ha trobat cap resultat per a la vostra cerca: <strong>{{ title }}</strong>
                    {% endif %}<!--/.pagination -->
                </div><!--/.contingut -->
                {% include "sidebar-news-single.twig" %}
                <script type="text/javascript">
                    $(".selectpicker").on('change', function() {
                        category = this.id;
                        url = $("#"+category).val();
                        window.location.href = url;
                    });
                </script>
{% endblock %}