{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
    <!-- .main-header -->
    {% embed "contingut-header.twig" %}
        {% block subpages %}
            {% if subpages %}
            <div class="menu-main-header-gris" style="border-bottom: 0;">
                <!-- .boto-menu-lateral gris - xs -->
                <div class="visible-xs-block boto-menu-lateral">
                    <a class="bt-menu-lateral" href="#menu-lateral" data-toggle="collapse" aria-expanded="false" aria-controls="#menu-lateral">
                        <i class="fa fa-bars"></i>
                        <p>Taula de continguts</p>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div><!--/.boto-menu-lateral gris - xs -->
                <!-- #menu-lateral -->
                <ul class="nav collapse navbar-collapse" id="menu-lateral">
                    <li {% if not arxivat %}class="active"{% endif %}><a href="/projectes/" title="Projectes">Projectes actius</a></li>
                    <li {% if arxivat %}class="active"{% endif %}><a href="/projectes/arxivats/" title="Projectes sense activitat">Projectes sense activitat</a></li>
                </ul><!--/#menu-lateral -->
            </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
    <!--/.main-header -->

    <div class="container-fluid">

        <!-- .contingut -->
        <div class="contingut">
            <!-- .contingut-header -->
            <header class="contingut-header">
                <p>{{ post.content }}</p>
            </header><!--/.contingut-header -->


            <!-- section paragraf + thumb gris img -->
            <section class="contingut-section">

                <!-- .row -->
                <div class="row">
                {% if posts %}
                    {% for post in posts %}
                    <div class="col-sm-6">
                        <div class="thumbnail thumbnail-gris-img ribbon-container">
                            <a href="{{ post.link }}" title="{{ post.title }}">
                                {% if post.logotip %}
                                {% set project_img = post.logotip|get_img_from_id %}
                                    <div class="project_list_img">
                                        <img src="{{ project_img|resize(90, 90, 'top') }}" alt="logotip {{ post.title }}">
                                    </div>
                                {% else %}
                                    <i style="font-size: 90px" class="fa fa-cogs"></i>
                                {% endif %}
                                <div class="caption">
                                    <h3>{{ post.title }}</h3>
                                    <p>{{ post.post_excerpt|truncate_words(20) }}</p>
                                    <span class="bt-aneu">col·laboreu-hi<i class="fa fa-chevron-right"></i></span>
                                </div>
                            </a>
                            {% if post.projecte_destacat %}
                                <div class="ribbon left orange">
                                    <a>destacat</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                </div><!--/.row -->

                <!-- .pagination -->
                {% include "pagination.twig" %}
                <!--/.pagination -->
            </section><!-- section paragraf + thumb gris img -->

            <!--/.contingut-footer -->
            <footer class="contingut-footer">
                <div class="row">
                    <div class="col-sm-9">
                        {% for element in sidebar_elements %}
                            {% include element %}
                        {% endfor %}
                    </div>
                    {% include "sidebar_widgets.twig" %}
                </div>
            </footer><!--/.contingut-footer -->

        </div><!--/.contingut -->
    </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

{% endblock %}
