{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
        <!-- .main-header -->
        {% embed "contingut-header.twig" %}
            {% block call_to_action_top %}
            <div class="col-xxs-12 col-xs-4 col-sm-3">
                <a href="#" id="afegeix_{{ post_type }}_button" data-target=".bs-afegeixprograma-modal-lg" data-toggle="modal" class="bt-basic bt-basic-vermell">Voleu afegir un programa nou?</a>
            </div>
            {% endblock %}
        {% endembed %}
        <!--/.main-header -->

        <div class="container-fluid">

            <!-- .contingut -->
            <div class="contingut llista-programes">

                <!-- .contingut-header -->
                <header class="contingut-header">
                    <!-- .filtres -->
                    <form class="searchform" method="get" id="cerca_programes" role="search" action="/programes">
                        <div class="filtres row">
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="{% if cerca %}{{cerca}}{% endif %}" placeholder="Escriviu aquí la vostra cerca" id="cerca" name="cerca" />
                                    <span class="input-group-addon"><button type="submit" class="btn lupa"><i class="fa fa-search"></i></button></span>
                                </div>

                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <!-- dropdown categories -->
                                            <div class="col-sm-6">
                                                <select class="form-control selectpicker" id="sistema_operatiu" name="sistema_operatiu">
                                                    <option value="">Tots els sistemes operatius</option>
                                                    {% for category in categories.sistemes_operatius %}
                                                        <option value="{{ category.slug }}" {% if selected_filter_so == category.slug %}selected{% endif %}>{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div><!--/dropdown sitemes operatius -->

                                            <!-- dropdown categories -->
                                            <div class="col-sm-6">
                                                <select class="form-control selectpicker" id="categoria_programa" name="categoria_programa">
                                                    <option value="{% if current_url_params %}/programes/{{ search_params.current_url_params }}{% endif %}">Totes les categories</option>
                                                    {% for category in categories.categories_programes %}
                                                        <option value="{{ category.slug }}" {% if selected_filter_categoria == category.slug %}selected{% endif %}>{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div><!--/dropdown sitemes operatius -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!--/.filtres -->
                    </form>
                </header><!--/.contingut-header -->


                <!-- section paragraf + thumb gris img -->
                <section class="contingut-section">
                    {% if posts %}
                    <!-- .row -->
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-xxs-12 col-xs-4 col-sm-3 col-md-2">
                            <div class="thumbnail thumbnail-vertical thumbnail-programes ribbon-container">
                                <a href="{{ post.link }}" title="{{ post.title }}">
                                    {% if post.logotip_programa %}
                                    <img src="{{ TimberImage(post.logotip_programa).src }}" alt="logotip {{ post.title }}">
                                    {% elseif post.imatge_destacada_1 %}
                                    <img src="{{ TimberImage(post.imatge_destacada_1).src }}" alt="logotip {{ post.title }}">
                                    {% else %}
                                    <i style="font-size: 115px" class="fa fa-cogs"></i>
                                    {% endif %}
                                    <div class="caption">
                                        <h3>{{ post.title|truncate_words(9) }}</h3>
                                        <div class="cont-rating">
                                            <input id="input-id" value="{{ post.valoracio }}" class="rating" data-glyphicon="false" data-symbol="&#xf006;" data-rating-class="rating-fa" data-show-caption="false" data-show-clear="false" disabled="disabled" data-readonly/>
                                            {% if post.total_baixades_programa %}<em>({{ post.total_baixades_programa }})</em>{% endif %}
                                        </div>
                                    </div>
                                </a>
                                {% if post.programa_destacat %}
                                    <div class="ribbon left orange">
                                        <a>destacat</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--/.row -->

                    <!-- .pagination -->
                    {% include "pagination.twig" %}
                    <!--/.pagination -->
                    {% else %}
                        No s'ha trobat cap programa
                    {% endif %}


                </section><!-- section paragraf + thumb gris img -->


                <!--/.contingut-footer -->
                <footer class="contingut-footer">
                    <div class="row">
                        <div class="col-sm-9">
                            {% for element in sidebar_elements %}
                                {% include element %}
                            {% endfor %}
                        </div>
                        {% include "sidebar_widgets.twig" %}
                    </div>
                </footer><!--/.contingut-footer -->

            </div><!--/.contingut -->
        </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

    <!-- .formulari-afegeix -->
    {% include "programa-afegeix.twig" %}
    <!-- ./formulari-afegeix -->

    <!-- .contact-form -->
    {% include "contact_form.twig" %}
    <!-- ./contact-form -->

{% endblock %}
