<header class="main-header" id="principi">
    <div class="container-fluid">
        <div class="gris-main-header">
            <div class="row">
                <div class="img-main-header-gris col-xxs-12 col-xs-3 col-sm-3 col-md-2">
                    {% if logotip %}
                        <img class="img-responsive" src="{{ logotip }}" class="imatge-logotip-programa" alt="logo {{ post.title }}">
                    {% else %}
                        <i style="font-size: 152px" class="fa fa-cogs"></i>
                    {% endif %}
                </div>
                <div class="cont-main-header-gris col-xxs-12 col-xs-9 col-sm-9 col-md-10">
                    <h1>{{ post.title }}</h1>
                    <h2>{{ post.subtitle_projecte }}</h2>
                    <ul>
                        {% if post.lloc_web_projecte %}
                            <li>
                                <strong>
                                    <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                    Lloc web:
                                </strong>
                                <a href="{{ post.lloc_web_projecte }}">{{ post.lloc_web_projecte }}</a></li>
                        {% endif %}
                        {% if post.telegram %}
                            <li>
                                <strong>
                                    <i class="fa fa-telegram" aria-hidden="true"></i>
                                    Grup del Telegram:
                                </strong>
                                <a href="https://t.me/{{ post.telegram }}">{{ post.telegram }}</a></li>
                        {% endif %}
                        {% if responsables %}
                            <li>
                                <strong>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Responsable:
                                </strong>
                                {% for responsable in responsables %}
                                    <a href="{{ responsable.url }}" title="Responsable del projecte {{ post.title }} - {{ responsable.name }}">{{ responsable.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                        {% endif %}
                    </ul>
                    {% set is_arxivat = false %}
                    {% if post.terms('classificacio') %}
                        {% for term in post.terms('classificacio') %}
                            {% if term.slug == 'arxivat' %}
                                {% set is_arxivat = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if not is_arxivat %}
                    <a href="/col·laboreu/projecte/{{ post.slug }}/" title="Col·laboreu en el projecte {{ post.title }} de Softcatalà" class="bt-download-invers bt-collaboreu"><i class="fa fa-user-plus"></i><span>Col&middot;laboreu en el projecte</span></a>
                    {% endif %}
                    <footer class="footer-main-header-gris">
                        {% include "share_links.twig" %}
                    </footer>
                </div>
            </div>
        </div>
        {% if related_pages %}
        <div class="menu-main-header-gris">
            <!-- .boto-menu-lateral gris - xs -->
            <div class="visible-xs-block boto-menu-lateral">
                <a class="bt-menu-lateral" href="#menu-lateral" data-toggle="collapse" aria-expanded="false" aria-controls="#menu-lateral">
                    <i class="fa fa-bars"></i>
                    <p>Taula de continguts</p>
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div><!--/.boto-menu-lateral gris - xs -->
            <!-- #menu-lateral -->
            <ul class="nav collapse navbar-collapse" id="menu-lateral">
                <li {% if post.link == current_url %}class="active"{% endif %}><a href="{{ post.link }}" title="Descripció del {{ post.title }}">Descripció</a></li>
                {% for page in related_pages %}
                <li {% if page.link == current_url %}class="active"{% endif %}><a href="{{page.link}}" title="{{ page.title }}">{{page.title}}</a></li>
                {% endfor %}
            </ul><!--/#menu-lateral -->
        </div>
        {% endif %}
    </div>
</header>
