<header class="main-header" id="principi">
    <div class="container-fluid">
        <div class="gris-main-header">
            <div class="row">
                <div class="img-main-header-gris col-xxs-12 col-xs-3 col-sm-3 col-md-2">
                    {% if post.logotip_programa %}
                    <img class="img-responsive" src="{{ post.logotip_programa }}" class="imatge-logotip-programa" alt="logo {{ post.title }}">
                    {% else %}
                    <i style="font-size: 152px" class="fa fa-cogs"></i>
                    {% endif %}
                </div>
                <div class="cont-main-header-gris col-xxs-12 col-xs-9 col-sm-9 col-md-10">
                    <h1>{{ post.title }}</h1>
                    <h2>{{ post.subtitle_programa }}</h2>
                    <ul>
                        {% if post.autor_programa %}<li><strong>Autor:</strong> {{ post.autor_programa }}</li>{% endif %}
                        {% if post.terms('llicencia') %}
                        <li>
                            <strong>Llicència:</strong>
                            {% for term in post.terms('llicencia') %}
                                {{term.name}}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                        {% endif %}
                        {% if post.lloc_web_programa %}<li><strong>Lloc web:</strong> <a href="{{ post.lloc_web_programa }}">{{ post.lloc_web_programa }}</a></li>{% endif %}
                        <li></li>
                        {% if post.autor_traduccio %}<li><strong>Autor de la traducció:</strong> {{ post.autor_traduccio }}</li>{% endif %}
                        {% if projecte_relacionat_url %}<li><strong>Projecte de traducció:</strong> <a href="{{ projecte_relacionat_url }}" title="{{ projecte_relacionat_name }}">{{ projecte_relacionat_name }}</a></li>{% endif %}
                    </ul>


                    {% if baixades %}
                        {% for baixada in baixades %}
                            <a id="baixada_{{ baixada.download_os|lower }}_{{ baixada.arquitectura|lower }}" data-id="post_{{ post.ID }}_baixada_{{ baixada.ID }}" href="{{ baixada.download_url_ext }}" class="bt-download-invers bt-download-hide baixada_boto" style="display:none;">
                                <i class="fa fa-download"></i>
                                <span>Baixa'l
                                    <em>
                                        {% if baixada.download_os|lower != 'multiplataforma' %}Per a{% endif %}
                                        {{ baixada.download_os }}
                                        {% if baixada.arquitectura != 'generic' %}
                                            {% if baixada.arquitectura == 'x86_64'  %}(64 bits){% else %}(32 bits){% endif %}
                                        {% endif %}
                                        {% if baixada.download_version %}, versió {{ baixada.download_version }}{% endif %}
                                    </em>
                                </span>
                            </a>
                        {% endfor %}
                        <a class="bt-versions" id="show_more_versions" role="button" href="#versions" data-toggle="collapse">Altres versions</a>

                        <div class="collapse" id="versions">
                            <div class="versions">
                                <a class="bt-versions-creu" role="button" href="#versions" data-toggle="collapse"><i class="fa fa-times"></i></a>
                                <div class="row">
                                    {% for baixada in baixades %}
                                        <div class="col-xxs-12 col-md-3 col-sm-4 col-xs-6">
                                            <a data-id="post_{{ post.ID }}_baixada_{{ baixada.ID }}" href="{{ baixada.download_url_ext }}" class="bt-download-invers baixada_boto">
                                                <i class="fa fa-{{ baixada.so_icona }}"></i>
                                                <span>
                                                    {% if baixada.download_os|lower != 'multiplataforma' %}Per a {% endif %}{{ baixada.download_os }}
                                                    <em>{% if baixada.download_version %}versió {{ baixada.download_version }}{% endif %}
                                                        {% if baixada.arquitectura != 'generic' %}
                                                            {% if baixada.arquitectura == 'x86_64'  %}(64 bits){% else %}(32 bits){% endif %}
                                                        {% endif %}
                                                    {% if baixada.download_size %}({{ baixada.download_size }}){% endif %}
                                                    </em>
                                                </span>
                                                <p>{% if baixada.versio_estesa_baixada %}{{ baixada.versio_estesa_baixada }}<br/>{% endif %}
                                                </p>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <footer class="footer-main-header-gris">
                        <div class="cont-rating">
                            {{ function('wp_nonce_field', 'send_vote', '_wpnonce_program_vote') }}
                            <input type="hidden" value="{{ post.valoracio }}" name="{{ post.post_type }}_{{ post.slug }}_{{ post.ID }}" id="input_rating" class="rating" data-rating-class="rating-fa" data-symbol="&#xf006;" data-glyphicon="false" data-show-caption="false" data-show-clear="false"/>
                            <span class="numero">{{ post.valoracio|number_format(2, ',', '.') }}</span>
                            {% if post.vots %}<em>({{ post.vots }} vots)</em>{% endif %}
                        </div>
                        {% if total_downloads %}
                        <div class="cont-baixades">
                            <i class="fa fa-line-chart"></i>
                            <span class="numero">{{ total_downloads }}</span>
                            <em>baixades</em>
                        </div>
                        {% endif %}
                        {% include "share_links.twig" %}
                    </footer>
                </div>
            </div>
        </div>
        {% if related_pages %}
        <div class="menu-main-header-gris">
            <!-- .boto-menu-lateral gris - xs -->
            <div class="visible-xs-block boto-menu-lateral">
                <a class="bt-menu-lateral" href="#menu-lateral" data-toggle="collapse" aria-expanded="false" aria-controls="#menu-lateral">
                    <i class="fa fa-bars"></i>
                    <p>Taula de continguts</p>
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div><!--/.boto-menu-lateral gris - xs -->
            <!-- #menu-lateral -->
            <ul class="nav collapse navbar-collapse" id="menu-lateral">
                <li {% if post.link == current_url %}class="active"{% endif %}><a href="{{ post.link }}" title="Descripció del {{ post.title }}">Descripció</a></li>
                {% for page in related_pages %}
                <li {% if page.link == current_url %}class="active"{% endif %}><a href="{{page.link}}" title="{{ page.title }}">{{page.title}}</a></li>
                {% endfor %}
            </ul><!--/#menu-lateral -->
        </div>
        {% endif %}
    </div>
</header>
