<img src="{{ comment.avatar(48) }}" alt="{{comment.author.name}}">
<div id="comment-{{ post.ID }}_{{comment.ID}}">
  <div class="cont-comentari">
    <header>
      <h3>{{comment.author.name}}</h3>
      <div class="data">
        <time itemprop="dateCreated" datetime="{{ comment.comment_date|date('Y-n-j')}}">{{ comment.comment_date|date('l, j F  Y') }}</time>
      </div>
    </header>
    <p>{{comment.comment_content|wpautop}}</p>
    {% if is_child is not defined %}
    <a id="{{ post.ID }}_{{comment.ID}}" class="respon_link" title="Respon al comentari #{{comment.ID}}" style="cursor:pointer">Respon</a>
    {% endif %}
  </div>
</div>