<article class="article-comentari respondre" id="comment_flexible_form_{{ post.ID }}">
  {% if user_info.is_connected %}
  <i class="">{{ user_info.avatar_48 }}</i>
  {% else %}
  <i class="fa fa-user"></i>
  {% endif %}
  <div class="cont-respondre">

    <form class="form-horizontal" id="commentform" method="post" action="/wp/wp-comments-post.php">

      <!-- camp de text -->
      <div class="form-group">
        <div class="col-sm-12">
          <textarea rows="6" class="form-control" placeholder="Comentari" name="comment" required="required"></textarea>
        </div>
      </div><!--/camp de text -->
      {% if user_info.is_connected == false %}
      <!-- camp -->
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" placeholder="Nom" name="author" class="form-control" required="required">
        </div>
      </div><!-- camp -->
      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" placeholder="Correu electrònic" name="email" class="form-control" required="required">
        </div>
      </div><!-- camp -->
      {% endif %}
      <!-- botons -->
      <div class="form-group">
          <div class="col-sm-12 form-botons">
                {% if aparells %}<input id="redirect_page" type="hidden" value="{{ current_url }}" name="redirect_page">{% endif %}
                <input id="comment_post_ID" type="hidden" value="{{ post.ID }}" name="comment_post_ID">
                <input id="comment_parent_{{ post.ID }}" type="hidden" value="0" name="comment_parent">
               <button class="bt-basic bt-basic-vermell-fosc" type="submit">envia</button>
               <button class="bt-basic bt-basic-gris" type="button" id="hide_clean_form">cancel·la</button>
          </div>
      </div><!--/botons -->
    </form>

  </div>
</article>
