<img src="{{ comment.avatar(48) }}" alt="{{comment.author.name}}">
<div id="comment_{{comment.ID}}">
  <div class="cont-comentari">
    <header>
      <h3>{{comment.author.name}}</h3>
      <div class="data">
        <time itemprop="dateCreated" datetime="{{ comment.comment_date|date('Y-n-j')}}">{{ comment.comment_date }}</time>
      </div>
    </header>
    <p>{{comment.comment_content|wpautop}}</p>
    <a id="{{comment.ID}}" class="respon_link" title="Respon al comentari #{{comment.ID}}" style="cursor:pointer">Respon</a>
  </div>
</div>