<header class="main-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-sm-9">
                <h1>{% if content_title %}{{ content_title }}{% else %}{{ post.title }}{% endif %}</h1>
                {% if tag %}
                    <span>/</span>
                    <h2>{{ tag }}</h2>
                {% endif %}
                {% if title %}
                    <span>/</span>
                    <h2>{{title}}</h2>
                {% endif %}
                {% include "share_links.twig" %}
            </div>
            {% if post_type == 'programa' %}
                <div class="col-xxs-12 col-xs-4 col-sm-3">
                    <a href="#" id="afegeix_{{ post_type }}_button" data-target=".bs-example-modal-lg" data-toggle="modal" class="bt-basic bt-basic-vermell">Voleu incorporar un programa nou?</a>
                </div>
            {% elseif post.call_to_action_top_url and post.call_to_action_top_text %}
                <div class="col-xxs-12 col-xs-4 col-sm-3">
                    <a href="{{ post.call_to_action_top_url }}" class="bt-basic bt-basic-vermell">{{ post.call_to_action_top_text }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</header><!--/.main-header -->