<header class="main-header">
    <div class="container-fluid">
        <div class="row">
            <div class="{% if post.call_to_action_top_url and post.call_to_action_top_text %}col-xs-8 col-sm-9{% else %}col-xs-12 col-sm-12{% endif %}">
                <h1 id="content_header_title">{% if content_title %}{{ content_title }}{% else %}{{ post.title }}{% endif %}</h1>
                {% if tag %}
                    <span>/</span>
                    <h2>{{ tag }}</h2>
                {% endif %}
                {% if title %}
                    <span>/</span>
                    <h2>{{title}}</h2>
                {% endif %}
                {% include "share_links.twig" %}
            </div>
            {% block call_to_action_top %}
                {% if post.call_to_action_top_url and post.call_to_action_top_text %}
                <div class="col-xxs-12 col-xs-4 col-sm-3">
                    <a href="{{ post.call_to_action_top_url }}" class="bt-basic bt-basic-vermell">{{ post.call_to_action_top_text }}</a>
                </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</header><!--/.main-header -->
