{% extends "base.twig" %}

{% block content %}

    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">
        <!-- .main-header -->
        {% include "contingut-header.twig" %}
        <!--/.main-header -->

        <div class="container-fluid">
            <div class="row">

                <!-- .contingut -->
                <div class="contingut contingut-left col-sm-12 col-md-8">
                    <section class="formulari-eines contingut-section">

                        <form id="multilingue_form" class="form-horizontal">
                            <!-- .btns-diccionari  -->
                            <div class="btns-diccionari row">
                                <div class="col-xs-12">
                                    <p>Escriviu el terme que voleu cercar i premeu el botó de cerca.</p>
                                    <div class="input-group">
                                        {{ function('wp_nonce_field', 'multilingue_search', '_wpnonce_search') }}
                                        {{ function('wp_nonce_field', 'multilingue_autocomplete', '_wpnonce_auto') }}
                                        <input type="text" id="source" name="source" required class="form-control typeahead" data-provide="typeahead" autocomplete="off" {% if paraula %}value="{{ paraula }}"{% endif %} placeholder="Introduïu el terme">
                                        <a name="_action_consulta" id="_action_consulta" class="input-group-addon bt-basic bt-basic-vermell" href="#">cerca <i style="display: none;" class="fa fa-spinner fa-pulse" id="loading"></i></a>
                                    </div>
                                </div>
                            </div><!--/.btns-diccionari  -->
                            <header class="contingut-header">
                                <div class="filtres row">
                                    <div class="col-sm-10">
                                    <div class="row">
                                        <!-- dropdown sitemes operatius -->
                                        <div class="col-sm-6">
                                            <select class="form-control selectpicker" id="lang" name="lang">
                                                <option {% if lang == 'ca' %}selected="selected"{% endif %} value="ca">català</option>
                                                <option {% if lang == 'es' %}selected="selected"{% endif %} value="es">espanyol</option>
                                                <option {% if lang == 'en' %}selected="selected"{% endif %} value="en">anglès</option>
                                                <option {% if lang == 'de' %}selected="selected"{% endif %} value="de">alemany</option>
                                                <option {% if lang == 'fr' %}selected="selected"{% endif %} value="fr">francès</option>
                                                <option {% if lang == 'it' %}selected="selected"{% endif %} value="it">italià</option>
                                            </select>
                                        </div><!--/dropdown sitemes operatius -->
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <i id="loading" class="fa fa-spinner fa-pulse" style="display: none;"></i>
                                </div>
                            </div>
                            </header>

                            <input type="submit" style="display:none;" />
                        </form>

                        {% include "static/index-lletres.twig" %}

                    </section>

                    <section class="formulari-eines contingut-section">

                        <!-- .diccionari-resultat  -->
                        <div class="diccionari-resultat" id="results" {% if not cerca_result %}style="display:none"{% endif %}>
                            {% if cerca_result %}
                                {{ cerca_result }}
                            {% endif %}
                        </div><!--/.diccionari-resultat  -->

                    </section><!--/.formulari-eines  -->

                    {% if post.content %}
                    <!-- .contingut-section  -->
                    <section class="contingut-section">
                        {{post.content}}
                    </section>
                    <!--/.contingut-section  -->
                    {% endif %}
                </div><!--/.contingut -->

                {% include "sidebar_recursos.twig" %}

            </div><!--/.row -->
        </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

    {% include "contact_form.twig" %}

    {% include "static/multilingue-logos.twig" %}

    {% include "template-avis.twig" %}

{% endblock %}
