{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc blog">
        <!-- .main-header -->
        {% include "contingut-header.twig" %}
        <!--/.main-header -->

    <div class="container-fluid">
        <div class="row">

            <!-- .contingut -->
            <div class="contingut contingut-left col-sm-9">
                <!-- .contingut-article -->
                <article class="contingut-article">

                    <!-- .contingut-header -->
                    <header class="contingut-header">
                        <!-- .info-esdeveniment -->
                        <div class="info-esdeveniment">
                            {% if post.terms('esdeveniment_cat') %}
                            <div class="row">
                                <div class="col-sm-3">
                                    Cicle o sèrie:
                                </div>
                                <div class="col-sm-9">
                                    {% for term in post.terms('esdeveniment_cat') %}
                                        <a href="{{term.link}}">{{term.name}}</a>{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-3">
                                    Data:
                                </div>
                                <div class="col-sm-9">
                                    {{ post.data_inici|date('j M Y') }}{% if post.data_fi %}{% if post.data_fi != post.data_inici %} - {{ post.data_fi|date('j M Y') }}{% endif %}{% endif %}
                                </div>
                            </div>
                            {% if post.horari %}
                            <div class="row">
                                <div class="col-sm-3">
                                    Hora:
                                </div>
                                <div class="col-sm-9">
                                    {{ post.horari }}
                                </div>
                            </div>
                            {% endif %}
                            {% if post.lloc %}
                            <div class="row">
                                <div class="col-sm-3">
                                    Lloc:
                                </div>
                                <div class="col-sm-9">
                                    {{ post.lloc }}
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-3">
                                    Cost:
                                </div>
                                <div class="col-sm-9">
                                {% if not post.cost %}
                                    Gratuït
                                {% else %}
                                    {{ post.cost }}€
                                {% endif %}
                                </div>
                            </div>
                        </div><!--/.info-esdeveniment -->

                        {% if post.thumbnail.src %}
                            <img alt="{{post.title}}" src="{{post.thumbnail.src}}">
                            {% if post.thumbnail.caption %}
                                <em class="peu-foto">{{post.thumbnail.caption}}</em>
                            {% endif %}
                        {% endif %}
                        <hr class="clara">
                    </header><!--/.contingut-header -->

                    <!-- .contingut-section -->
                    <section class="contingut-section article-cont">
                        {{post.content}}

                        {% if post.mapa %}
                        <div class="mapa">
                            {{ post.mapa }}
                        </div>
                        {% endif %}
                    </section><!--/.contingut-section -->

                </article><!--/.contingut-article -->
            </div><!--/.contingut -->

            {% include "sidebar.twig" %}
        </div><!--/.row -->
    </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->


{% endblock %}
