<!-- .esdeveniments -->
<div class="esdeveniments col-xs-12 col-sm-6 col-md-3">
  <h2>Esdeveniments</h2>
  <!-- .llista-esdeveniments -->
  <section class="llista-esdeveniments">
    {% if esdeveniments %}
    {% for esdeveniment in esdeveniments %}
    <article class="contingut-article" style="clear: both;">
      <i><span><strong>{{attribute(esdeveniment,'wpcf-data_inici')|date('j')}}</strong>{{attribute(esdeveniment,'wpcf-data_inici')|date('M')}}</span></i>
      <h2><a href="{{esdeveniment.link}}" title="{{esdeveniment.title}}">{{esdeveniment.title}}</a></h2>
      <footer class="article-footer">
        <a href="{{esdeveniment.link}}" title="{{esdeveniment.title}}">{{esdeveniment.ciutat}}</a>
      </footer><!--/.article-footer -->
    </article>
    {% endfor %}
  </section><!--/.llista-esdeveniments -->
  <div class="row">
    <div class="col-xs-12">
      <a title="Més esdeveniments" class="bt-basic" href="/esdeveniments/">Més esdeveniments</a>
    </div>
  </div>
  {% else %}
    No hi ha cap esdeveniment programat
  {% endif %}
</div>
<!--/.esdeveniments -->
