{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc blog">
    <!-- .main-header -->
    <header class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxs-12 col-xs-8 col-sm-9">
                    <h1>{{post.title}}</h1>
                    {% include "share_links.twig" %}
                </div>
                {% if attribute(post,'wpcf-call_to_action_top_url') %}
                    <div class="col-xxs-12 col-xs-4 col-sm-3">
                        <a href="{{ attribute(post,'wpcf-call_to_action_top_url') }}" class="bt-basic bt-basic-vermell">{{ attribute(post,'wpcf-call_to_action_top_text') }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header><!--/.main-header -->

    <div class="container-fluid">
        <div class="row">

            <!-- .contingut -->
            <div class="contingut contingut-left col-sm-9">
                <!-- .contingut-article -->
                <article class="contingut-article">

                    <!-- .contingut-header -->
                    <header class="contingut-header">
                        <!-- .info-esdeveniment -->
                        <div class="info-esdeveniment">
                            {% if post.terms('esdeveniment_cat') %}
                            <div class="row">
                                <div class="col-sm-3">
                                    Cicle o sèrie:
                                </div>
                                <div class="col-sm-9">
                                    {% for term in post.terms('esdeveniment_cat') %}
                                        <a href="{{term.link}}">{{term.name}}</a>{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-3">
                                    Data:
                                </div>
                                <div class="col-sm-9">
                                    {{ attribute(post,'wpcf-data_inici')|date('j M Y') }}{% if attribute(post,'wpcf-data_fi') %}{% if attribute(post,'wpcf-data_fi') != attribute(post,'wpcf-data_inici') %} - {{ attribute(post,'wpcf-data_fi')|date('j M Y') }}{% endif %}{% endif %}
                                </div>
                            </div>
                            {% if attribute(post,'wpcf-horari') %}
                            <div class="row">
                                <div class="col-sm-3">
                                    Hora:
                                </div>
                                <div class="col-sm-9">
                                    {{ attribute(post,'wpcf-horari') }}
                                </div>
                            </div>
                            {% endif %}
                            {% if attribute(post,'wpcf-lloc') %}
                            <div class="row">
                                <div class="col-sm-3">
                                    Lloc:
                                </div>
                                <div class="col-sm-9">
                                    {{ attribute(post,'wpcf-lloc') }}
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-3">
                                    Cost:
                                </div>
                                <div class="col-sm-9">
                                {% if not attribute(post,'wpcf-cost') %}
                                    Gratuït
                                {% else %}
                                    {{ attribute(post,'wpcf-cost') }}€
                                {% endif %}
                                </div>
                            </div>
                        </div><!--/.info-esdeveniment -->

                        {% if post.thumbnail.src %}
                            <img alt="{{post.title}}" src="{{post.thumbnail.src}}">
                            {% if post.thumbnail.caption %}
                                <em class="peu-foto">{{post.thumbnail.caption}}</em>
                            {% endif %}
                        {% endif %}
                        <div class="data">
                            <time itemprop="dateCreated" datetime="{{post.post_date|date('Y-n-j')}}">{{post.post_date|date('j M Y')}}</time><span>|</span>Publicat per <a href="{{post.author.path}}">{{ post.author.name }}</a>
                        </div>
                        <hr class="clara">
                    </header><!--/.contingut-header -->

                    <!-- .contingut-section -->
                    <section class="contingut-section article-cont">
                        {{post.content}}

                        {% if attribute(post,'wpcf-mapa') %}
                        <div class="mapa">
                            {{ attribute(post,'wpcf-mapa') }}
                        </div>
                        {% endif %}
                    </section><!--/.contingut-section -->

                </article><!--/.contingut-article -->
            </div><!--/.contingut -->

            {% include "sidebar-news.twig" %}
        </div><!--/.row -->
    </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->


{% endblock %}