<!-- .wrap-gris-fosc -->
    <div class="wrap-gris-fosc">
      <!-- .pag-footer -->
      <footer class="pag-footer">
        <div class="container-fluid">
          <div class="footer-gris row">
            <div class="col-xs-4 col-sm-3 copy">
              <img src="{{ theme.path }}/static/images/footer/footer-sc.jpg">
              <p>Softcatal&agrave; &copy; 1998-{{ "now"|date("Y") }}</p>
            </div>
            <div class="col-xs-4 col-sm-3 cc">
              <img src="{{ theme.path }}/static/images/footer/footer-cc.jpg">
              <p>El contingut est&agrave; disponible sota la llic&egrave;ncia <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.ca">Atribuci&oacute; - CompartirIgual 3.0</a> si no s&#039;indica el contrari.</p>
            </div>
            <div class="col-xs-4 col-sm-3 contacte">
              <ul class="nav">
                <li><a href="#">Contacte</a></li>
                <li><a href="#">Av&iacute;s legal</a></li>
                <li><a href="#">Codi de conducta</a></li>
                <li><a href="#">Publicitat</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-3 seguiunos">
              <p>Seguiu-nos</p>
              <ul class="nav footer-media">
                <li><a title="RSS" href="/feed"><i class="fa fa-rss fa-stack-1x fa-inverse"></i></a></li>
                <li><a title="Facebook" href="http://www.facebook.com/home.php#!/pages/Softcatala/50568237985"><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a></li>
                <li><a title="Twitter" href="http://twitter.com/softcatala"><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a></li>
                <li><a title="Google+" href="https://plus.google.com/103210891334034231144"><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></a></li>
                <li><a title="linkedIn" href="https://www.linkedin.com/grp/home?gid=80770"><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></a></li>
              </ul>
            </div>
          </div>
        </div><!--/.container-fluid -->

      <!-- .wrap-blanc -->
      <div class="wrap-blanc">
        <!-- .container-fluid -->
        <div class="container-fluid">
          <div class="intern">
            <div class="intern-center">
              <!-- .col-1 -->
              <div class="col-1">
                <p>El lloc web de Softcatal&agrave; funciona gr&agrave;cies a </p>
                <div class="col-1-img">
                  <a title="Drupal" href="http://www.drupal.cat/"><img src="{{ theme.path }}/static/images/footer/footer-drupal.jpg"></a>
                  <a title="MediaWiki" href="http://www.mediawiki.org/wiki/MediaWiki/ca"><img src="{{ theme.path }}/static/images/footer/footer-mediawiki.jpg"></a>
                  <a title="Discourse" href="http://discouse.org"><img src="{{ theme.path }}/static/images/footer/footer-discourse.png"></a>
                  <a title="Debian" href="http://debian.org"><img src="{{ theme.path }}/static/images/footer/footer-debian.jpg"></a>
                </div>
                <p>entre altre programari lliure. </p>
              </div><!--/.col-1 -->
              <!-- .col-2 -->
              <div class="col-2">
                <div class="intern">
                  <div class="intern-center">
                    <p>Hostatjat a: </p>
                    <div class="col-1-img">
                      <a title="Universitat de Lleida" href="http://www.udl.cat/"><img src="{{ theme.path }}/static/images/footer/footer-universitat-lleida.jpg"></a>
                      <a title="Universitat d'Alacant" href="http://www.ua.es/va/"><img src="{{ theme.path }}/static/images/footer/footer-universitat-alacant.jpg"></a>
                    </div>
                  </div>
                </div>
              </div><!--/.col-2 -->
            </div>
          </div>
        </div><!--/.container-fluid -->
      </div><!--/.wrap-blanc -->
      </footer><!--/.pag-footer -->
    </div><!--/.wrap-gris-fosc -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/main.min.js"></script>

  </body>
</html>