{% extends "base.twig" %}

{% block content %}
<!-- .main .wrap-blanc -->
    <main class="main wrap-blanc home">

      <!-- .carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{{ themepath }}/static/images/content/home-slider-01.jpg" alt="imatge carousel home 01">
            <div class="carousel-caption">
              <h1>III jornada de traducci&oacute; de programari</h1>
              <h2>Us convidem el dissabte 16 de desembre, al Centre C&iacute;vic Sagrada Fam&iacute;lia de Barcelona</h2>
              <button type="button" class="bt-basic bt-blanc">Apunteu-vos-hi</button>
            </div>
            <div class="peu-foto">
              <em>Foto: Per Meskolin (Treball propi) [CC BY-SA 3.0], via la Wikimedia Commons</em>
            </div>
          </div>
          <div class="item">
            <img src="{{ themepath }}/static/images/content/home-slider-02.jpg" alt="imatge carousel home 02">
            <div class="carousel-caption">
              <h1>III jornada de traducci&oacute; de programari</h1>
              <h2>Us convidem el dissabte 16 de desembre, al Centre C&iacute;vic Sagrada Fam&iacute;lia de Barcelona</h2>
              <button type="button" class="bt-basic bt-blanc">Apunteu-vos-hi</button>
            </div>
            <div class="peu-foto">
              <em>Foto: Per Meskolin (Treball propi) [CC BY-SA 3.0], via la Wikimedia Commons. Per Meskolin (Treball propi) [CC BY-SA 3.0], via la Wikimedia Commons</em>
            </div>
          </div>
          <div class="item">
            <img src="{{ themepath }}/static/images/content/home-slider-03.jpg" alt="imatge carousel home 03">
            <div class="carousel-caption">
              <h1>III jornada de traducci&oacute; de programari</h1>
              <h2>Us convidem el dissabte 16 de desembre, al Centre C&iacute;vic Sagrada Fam&iacute;lia de Barcelona</h2>
              <button type="button" class="bt-basic bt-blanc">Apunteu-vos-hi</button>
            </div>
            <div class="peu-foto">
              <em>Foto: Per Meskolin (Treball propi) [CC BY-SA 3.0], via la Wikimedia Commons</em>
            </div>
          </div>
        </div><!--/ Wrapper for slides -->
      </div><!--/.carousel -->

      <!-- .wrap-blanc -->
      <div class="wrap-blanc">
        <!-- .container-fluid -->
        <div class="container-fluid">
          <!-- .recursos-serveis  -->
          <section class="contingut-section recursos-serveis">
            <h3>Recursos i serveis</h3>
            <h1>Viure i treballar en catal&agrave;</h1>

            <div class="row">
              <!-- .home-thumbs  -->
              <div class="home-thumbs col-md-12 col-lg-8">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="home-thumb-01">
                      <h2>Traductor</h2>
                      <p>Traductor catal&agrave; &gt; {castell&agrave;, angl&egrave;s, portugu&egrave;s, franc&egrave;s} basat en la tecnologia d&rsquo;Apertium</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="home-thumb-02">
                      <h2>Corredor</h2>
                      <p>Corrector de textos on podeu triar entre formes generals, valencianes i balears</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="home-thumb-03">
                      <h2>Catalanitzador</h2>
                      <p>Un programa per catalanitzar els ordinadors Windows o Mac de forma senzilla i autom&agrave;tica</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="home-thumb-04">
                      <h2>Guia d&#039;aparells <span class="center-block">en catal&agrave;</span></h2>
                      <p>Voleu saber quins m&ograve;bils i tauletes funcionen en catal&agrave;? Us n&#039;informem en aquesta guia</p>
                    </div>
                </div>
              </div><!--/.home-thumbs  -->
            </div><!--/.row  -->


            <!-- .programari  -->
            <div class="programari col-xs-12 col-md-6 col-lg-4">
              <h2>Programari m&eacute;s baixat</h2>

              <!-- .nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="tab-windows active"><a href="#windows" aria-controls="windows" role="tab" data-toggle="tab"><span>Widnows</span></a></li>
                <li role="presentation" class="tab-linux"><a href="#linux" aria-controls="linux" role="tab" data-toggle="tab"><span>Linux</span></a></li>
                <li role="presentation" class="tab-osx"><a href="#osx" aria-controls="osx" role="tab" data-toggle="tab"><span>OSX</span></a></li>
                <li role="presentation" class="tab-android"><a href="#android" aria-controls="android" role="tab" data-toggle="tab"><span>Android</span></a></li>
                <li role="presentation" class="tab-ios"><a href="#ios" aria-controls="ios" role="tab" data-toggle="tab"><span>IOS</span></a></li>
              </ul><!--/.nav tabs -->

              <!-- .tab-content -->
              <div class="tab-content">
                <!-- .tab-pane -->
                <div role="tabpanel" class="tab-pane active" id="windows">
                  <ol>
                    <li>LibreOffice <span>(4936)</span></li>
                    <li>GIMP <span>(3409)</span></li>
                    <li>Catalanitzador de Softcatal&agrave; <span>(2774)</span></li>
                    <li>Firefox <span>(2580)</span></li>
                    <li>Traductor Softcatal&agrave; <span>(2108)</span></li>
                  </ol>
                </div>
                <div role="tabpanel" class="tab-pane" id="linux">
                  <ol>
                    <li>LibreOffice linux <span>(4936)</span></li>
                    <li>GIMP <span>(3409)</span></li>
                    <li>Catalanitzador de Softcatal&agrave; <span>(2774)</span></li>
                    <li>Firefox <span>(2580)</span></li>
                    <li>Traductor Softcatal&agrave; <span>(2108)</span></li>
                  </ol>
                </div>
                <div role="tabpanel" class="tab-pane" id="osx">
                  <ol>
                    <li>LibreOffice osx <span>(4936)</span></li>
                    <li>GIMP <span>(3409)</span></li>
                    <li>Catalanitzador de Softcatal&agrave; <span>(2774)</span></li>
                    <li>Firefox <span>(2580)</span></li>
                    <li>Traductor Softcatal&agrave; <span>(2108)</span></li>
                  </ol>
                </div>
                <div role="tabpanel" class="tab-pane" id="android">
                  <ol>
                    <li>LibreOffice andorid <span>(4936)</span></li>
                    <li>GIMP <span>(3409)</span></li>
                    <li>Catalanitzador de Softcatal&agrave; <span>(2774)</span></li>
                    <li>Firefox <span>(2580)</span></li>
                    <li>Traductor Softcatal&agrave; <span>(2108)</span></li>
                  </ol>
                </div>
                <div role="tabpanel" class="tab-pane" id="ios">
                  <ol>
                    <li>LibreOffice ios <span>(4936)</span></li>
                    <li>GIMP <span>(3409)</span></li>
                    <li>Catalanitzador de Softcatal&agrave; <span>(2774)</span></li>
                    <li>Firefox <span>(2580)</span></li>
                    <li>Traductor Softcatal&agrave; <span>(2108)</span></li>
                  </ol>
                </div><!--/.tab-pane -->
                <button type="button" class="bt-basic">M&eacute;s programari</button>
              </div><!--/.tab-content -->
            </div><!--/.programari  -->

          </section><!--/.recursos-serveis -->
        </div><!--/.container-fluid -->
      </div><!--/.wrap-blanc -->

      <!-- .wrap-gris-home -->
      <div class="wrap-gris-home">
        <!-- .container-fluid -->
        <div class="container-fluid">
          <!-- .quisom  -->
          <section class="contingut-section quisom">
            <div class="row">
              <div class="col-xs-12 col-sm-5">
                <img class="img-responsive" src="{{ themepath }}/static/images/content/img-home-qui-som.jpg" alt="Meritocracia, transparencia, obertura, exel·lencia i unitat de la llengua">
              </div>
              <div class="col-xs-12 col-sm-7">
                <h3>Qui som</h3>
                <h1>Qu&egrave; &eacute;s i qu&egrave; fa Softcatal&agrave;</h1>
                <p>Softcatal&agrave; &eacute;s una associaci&oacute; sense &agrave;nim de lucre amb la missi&oacute; de fomentar la pres&egrave;ncia i l&#039;&uacute;s del catal&agrave; en tots els &agrave;mbits de les noves tecnologies (TIC). La nostra filosofia:</p>
                <ul class="cont-llista">
                  <li><i class="fa fa-chevron-right"></i>El comprom&iacute;s amb el programari lliure i la llengua catalana</li>
                  <li><i class="fa fa-chevron-right"></i>Els membres i col&middot;laboradors treballen des del voluntariat</li>
                  <li><i class="fa fa-chevron-right"></i>El treball basat en la meritocr&agrave;cia i la transpar&egrave;ncia</li>
                  <li><i class="fa fa-chevron-right"></i>La independ&egrave;ncia i la organitzaci&oacute; assamble&agrave;ria</li>
                </ul>
                <button type="button" class="bt-basic bt-blanc">Coneixeu-nos</button>
              </div>
            </div>
          </section><!--/.quisom  -->
        </div><!--/.container-fluid -->
      </div><!--/.wrap-gris-home -->

      <!-- .wrap-vermell -->
      <div class="wrap-vermell">
        <!-- .container-fluid -->
        <div class="container-fluid">
          <!-- .collaboreu  -->
          <section class="contingut-section collaboreu">
            <h3>Ens voleu ajudar?</h3>
            <h1>Col&middot;laboreu amb l&#039;associaci&oacute;</h1>
            <p>El car&agrave;cter interdisciplinari de Softcatal&agrave; fa que es necessitin col&middot;laboradors, estudiants, professionals i usuaris de diversos &agrave;mbits:</p>

            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-1"><a href="#"><i class="fa fa-sort-alpha-asc"></i>Traductors i <span class="center-block">correctors</span></a></div>
              <div class="col-xs-12 col-sm-4 col-md-2"><a href="#"><i class="fa fa-picture-o"></i>Dissenyadors <span class="center-block">gr&agrave;fics</span></a></div>
              <div class="col-xs-12 col-sm-4 col-md-2"><a href="#"><i class="fa fa-keyboard-o"></i>Desenvolupadors</a></div>
              <div class="col-xs-12 col-sm-4 col-md-2"><a href="#"><i class="fa fa-pencil-square-o"></i>Gestors de contingut</a></div>
              <div class="col-xs-12 col-sm-4 col-md-2"><a href="#"><i class="fa fa-calendar"></i>Coordinadors <span class="center-block">d&#039;esdeveniments</span></a></div>
            </div>
          </section><!--/.collaboreu  -->
        </div><!--/.container-fluid -->
      </div><!--/.wrap-vermell -->

      <!-- .wrap-blanc -->
      <div class="wrap-blanc">
        <!-- .container-fluid -->
        <div class="container-fluid">
          <!-- .actualitat  -->
          <section class="contingut-section actualitat">
            <h3>Actualitat</h3>
            <div class="row">
              <!-- .noticies -->
              <div class="noticies col-sm-12 col-md-9">
                <h2>Not&iacute;cies</h2>

                <!-- .row -->
                <div class="row">
                  <div class="col-xs-6 col-sm-4">
                    <div class="thumbnail thumbnail-galeria">
                      <a href="#">
                      <img src="{{ themepath }}/static/images/content/img-thumb-content-02.jpg" alt="imatge d'exemple en el content-galeria-menuleft">
                      <p>Softcatal&agrave; rep el 28&egrave; Premi a la Normalitzaci&oacute; Ling&uuml;&iacute;stica d&#039;entitats ...</p>
                      <time class="data-temps">28 Gener 2015</time>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-4">
                    <div class="thumbnail thumbnail-galeria">
                      <a href="#">
                      <img src="{{ themepath }}/static/images/content/img-thumb-content-03.jpg" alt="imatge d'exemple en el content-galeria-menuleft">
                      <p>Noves eines lliures per a traductors de programari en catal&agrave;</p>
                      <time class="data-temps">28 Gener 2015</time>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-4">
                    <div class="thumbnail thumbnail-galeria">
                      <a href="#">
                      <img src="{{ themepath }}/static/images/content/img-thumb-content-04.jpg" alt="imatge d'exemple en el content-galeria-menuleft">
                      <p>Dia de la Llibertat dels Documents per unes tecnologies m&eacute;s obertes</p>
                      <time class="data-temps">28 Gener 2015</time>
                      </a>
                    </div>
                  </div>
                </div><!--/.row -->
                <div class="row">
                  <div class="col-xs-12">
                    <button type="button" class="bt-basic">M&eacute;s not&iacute;cies</button>
                    </div>
                </div>
              </div><!--/.noticies -->

              <!-- .esdeveniments -->
              <div class="esdeveniments col-xs-12 col-sm-6 col-md-3">
                <h2>Esdeveniments</h2>
                <!-- .llista-esdeveniments -->
                <section class="llista-esdeveniments">
                  <article class="contingut-article">
                    <i><span><strong>26</strong>FEB</span></i>
                    <h2>Dia de la Llibertat dels Documents per unes tecnologies m&eacute;s obertes</h2>
                  </article>
                  <article class="contingut-article">
                    <i><span><strong>26</strong>FEB</span></i>
                    <h2>Trobada de pencaires mensual, octubre de 2014</h2>
                    <!-- .article-footer -->
                    <footer class="article-footer">
                      <a href="#">Llibreria Laie</a>
                    </footer><!--/.article-footer -->
                  </article>
                </section><!--/.llista-esdeveniments -->
                <div class="row">
                  <div class="col-xs-12">
                    <button type="button" class="bt-basic">M&eacute;s esdeveniments</button>
                  </div>
                </div>
              </div><!--/.esdeveniments -->
            </div><!--/.row -->
          </section><!--/.actualitat -->

        </div><!--/.container-fluid -->
      </div><!--/.wrap-blanc -->
    </main><!--/.main .wrap-blanc -->
{% endblock %}