{% extends "base.twig" %}

{% block content %}
  <script type="text/javascript">
    var currentLocation = window.location;
  </script>
	<p>{{qux}}</p>
	<!-- .main .wrap-blanc -->
    <main class="main blog wrap-blanc">
      <!-- .main-header -->
      {% include "contingut-header.twig" %}
      <!--/.main-header -->

      <div class="container-fluid">
        <div class="row">
          <!-- .contingut -->
          <div class="contingut contingut-left llista-noticies col-sm-12 col-md-9">
            <!-- .contingut-header -->
            <header class="contingut-header">

              <!-- .filtres -->
              <form class="searchform" method="get" id="cerca_noticies" role="search" action="{{ search_params.current_url }}">
              <div class="filtres row">
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" value="{% if cerca %}{{cerca}}{% endif %}" placeholder="Escriviu aquí la vostra cerca" id="cerca" name="cerca" />
                    <input type="hidden" value="post" name="post_type" />
                    <input type="hidden" value="1" name="sentence" />
                    <span class="input-group-addon"><button type="submit" class="btn lupa"><i class="fa fa-search"></i></button></span>
                  </div>

                  <div class="row">
                    <div class="col-sm-10">
                      <div class="row">
                        <!-- dropdown sitemes operatius -->
                        <div class="col-sm-6">
                          <select class="form-control selectpicker" id="tema" name="tema">
                            <option value="{% if current_url_params %}/noticies/{{ search_params.current_url_params }}{% endif %}">Tots els temes</option>
                            {% for category in categories.temes %}
                              <option value="{{ category.slug }}" {% if selected_tema == category.slug %}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                          </select>
                        </div><!--/dropdown sitemes operatius -->

                        <!-- dropdown categories -->
                        <div class="col-sm-6">
                          <select class="form-control selectpicker" id="tipus" name="tipus">
                            <option value="{% if current_url_params %}/noticies/{{ search_params.current_url_params }}{% endif %}">Tots els tipus</option>
                            {% for category in categories.tipus %}
                              <option value="{{ category.slug }}" {% if selected_tipus == category.slug %}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                          </select>
                        </div><!--/dropdown categories -->
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--/.filtres -->
              </form>
            </header><!--/.contingut-header -->

            {% if posts %}
            {% for post in posts %}
      				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
      			{% endfor %}
            <!-- .pagination -->
            {% include "pagination.twig" %}
            <!--/.pagination -->
            {% endif %}
          </div><!--/.contingut -->

          {% include "sidebar.twig" %}

        </div><!--/.row -->
      </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

{% endblock %}