{% extends "base.twig" %}

{% block content %}
	<!-- .main .wrap-blanc -->
	<main class="main wrap-blanc cd-main-content">
		<!-- .main-header -->
		<header class="main-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xxs-12 col-xs-8 col-sm-9">
						<h1>{{post.title}}</h1>
						{% include "share_links.twig" %}
					</div>
					{% if attribute(post,'wpcf-call_to_action_top_url') %}
						<div class="col-xxs-12 col-xs-4 col-sm-3">
							<a href="{{ attribute(post,'wpcf-call_to_action_top_url') }}" class="bt-basic bt-basic-vermell">{{ attribute(post,'wpcf-call_to_action_top_text') }}</a>
						</div>
					{% endif %}
				</div>
			</div>
		</header><!--/.main-header -->

		<div class="container-fluid">
			<div class="row">

				<!-- .contingut -->
				<div class="contingut contingut-left col-sm-9">
					<!-- .contingut-header -->
					<header class="contingut-header">
						<p>{{  post.post_excerpt }}</p>
					</header>
					<!--/.contingut-header -->

					{% if post.text_baixada_principal %}
						<a href="{{ post.baixada_principal }}" class="bt-download" type="button"><i class="fa fa-download"></i><span>{{ post.text_baixada_principal }}</span></a>
					{% endif %}

					{% if post.thumbnail.src %}
						<br/>
						<img alt="{{post.title}}" src="{{post.thumbnail.src}}">
					{% endif %}

					<!-- section paragraf -->
					<section class="contingut-section">{{  post.content }}</section>
					<!--/ section paragraf -->

				</div><!--/.contingut -->

				{% include "sidebar-text.twig" %}
			</div><!--/.row -->
		</div><!--/.container-fluid -->
	</main><!--/.main .wrap-blanc -->


	{% if attribute(post,'wpcf-call_to_action_bottom_url') %}
		<!-- .seccio-vermella -->
		<div class="wrap-vermell seccio-vermella">
			<div class="container-fluid">
				{{ attribute(post,'wpcf-call_to_action_bottom_text') }}
				<div class="intern">
					<a href="{{ attribute(post,'wpcf-call_to_action_bottom_url') }}" class="bt-basic bt-basic-vermell-blanc intern-center">{{ attribute(post,'wpcf-call_to_action_bottom_button_text') }}</a>
				</div>
			</div>
		</div><!--/.seccio-vermella -->
	{% endif %}
{% endblock %}