{% extends "base.twig" %}

{% block content %}
	<!-- .main .wrap-blanc -->
	<main class="main wrap-blanc cd-main-content">
		<!-- .main-header -->
		{% include "contingut-header.twig" %}
		<!--/.main-header -->

		<div class="container-fluid">
			{% include "components/breadcrumbs.twig"  %}
			<div class="row">

				<!-- .contingut -->
				{% if excludeSidebar %}
				<div class="contingut contingut-left col-sm-12">
				{%  else %}
				<div class="contingut contingut-left col-sm-9">
				{% endif %}
					<!-- .contingut-header -->
					<header class="contingut-header">
						<p>{{  post.post_excerpt }}</p>

						{% if post.text_baixada_principal %}
							<a href="{{ post.baixada_principal }}" class="bt-download" type="button"><i class="fa fa-download"></i><span>{{ post.text_baixada_principal }}</span></a>
						{% endif %}

						{% if post.thumbnail.src and not post.hide_featured_image_in_header %}
							{% if not post.text_baixada_principal %}<br/>{% endif %}
							<img alt="{{post.title}}" src="{{post.thumbnail.src}}" class="headerimg" />
						{% endif %}
					</header>
					<!--/.contingut-header -->

					<!-- section paragraf -->
					<section class="contingut-section">{{  post.content }}</section>
					<!--/ section paragraf -->

				</div><!--/.contingut -->

				{% if not excludeSidebar %}
					{% include "sidebar.twig" %}
				{%  endif %}
			</div><!--/.row -->
		</div><!--/.container-fluid -->
	</main><!--/.main .wrap-blanc -->


	<!-- .seccio-vermella -->
	{% include "call-to-action-bottom.twig" %}
	<!--/.seccio-vermella -->
{% endblock %}