<!-- .pagination -->
{% if posts.pagination.pages %}
<section class="contingut-section">
<div class="row">
    <div class="intern">
        <nav class="intern-center">
            <ul class="pagination">
                {% if posts.pagination.prev %}
                    <li>
                        <a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}"><span aria-hidden="true">«</span></a>
                    </li>
                {% endif %}
                {% for page in posts.pagination.pages %}
                    <li>
                        {% if page.link %}
                            <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                        {% else %}
                            <span class="{{page.class}}">{{page.title}}</span>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if posts.pagination.next %}
                    <li>
                        <a href="{{posts.pagination.next.link}}" aria-label="Next" class="next {{posts.pagination.next.link|length ? '' : 'invisible'}}"><span aria-hidden="true">»</span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
</section>
{% endif %}
