{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc cd-main-content">

        <!-- .main-header-back-img -->
        <header class="main-header-back-img main-header" style="background: rgba(0, 0, 0, 0) url('{{post.thumbnail.src}}') no-repeat scroll center center">
            <div class="container-fluid">
                <div class="intern">
                    <div class="intern-center">
                        {% if post.icona_a_mostrar %}
                            <i class="fa custom-fa fa-{{ post.icona_a_mostrar }}"></i>
                        {% else %}
                            <i class="fa fa-book"></i>
                        {% endif %}
                    </div>
                </div>
                <h1>{{ post.title }}</h1>
                <div class="intern">
                    <div class="intern-center compartiu">
                        <ul class="compartiu-media">
                            <li><p>Compartiu</p></li>
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/intent/tweet?text={{post.title}} {{ current_url }} #softcatala"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/share?url={{ current_url }}"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h2>{{ post.content }}</h2>
                <div class="intern">
                    {% if post.call_to_action_top_url and post.call_to_action_top_text %}
                        <div class="intern-center">
                            <a href="{{ post.call_to_action_top_url }}" class="bt-basic bt-basic-vermell">{{ post.call_to_action_top_text }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header><!--/.main-header-back-img -->


        <div class="container-fluid">

            <!-- .contingut -->
            <div class="contingut">
                
                {% if links %}
                    <!-- .row -->
                    <div class="row">
                        {% for row in links|batch((links|length)/2) %}
                            <div class="col-xs-12 col-md-6"><ul class="cont-llista llista-gran">
                            {% for link in row %}
                            <li><a href="{{ link.link_url }}"><i class="fa fa-angle-right"></i>{{ link.link_title }}</a></li>
                            {% endfor %}
                            </ul>
                            </div>
                        {% endfor %}
                    </div><!--/.row -->
                {% endif %}

            </div><!--/.contingut -->

        </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

{% endblock %}