{% extends "base.twig" %}

{% block content %}

<!-- .main .wrap-blanc -->
<main class="main wrap-blanc cd-main-content">

    <!-- .main-header -->
    {% include "contingut-header.twig" %}
    <!--/.main-header -->

    <div class="container-fluid">
        <div class="row">
            <!-- .contingut -->
            <div class="contingut contingut-left col-sm-12 col-md-9">
                <!-- .contingut-header -->
                <header class="contingut-header">
                    {% if steps %}
                    {% set stepsmax = steps|length + 1 %}
                    <div class="bt-grup row">
                        {% for step in steps %}
                        <div class="col-xs-4">
                            <button type="button" data-id="step_{{ loop.index }}" class="bt-basic steps {% if loop.first %}active{% endif %} segon">
                                <span><i>0{{ loop.index }}</i><p>{{ step.step_title }}</p></span>
                            </button>
                        </div>
                        {% endfor %}
                        {% if projectes %}
                        <div class="col-xs-4">
                            <button type="button" data-id="step_{{ stepsmax }}" class="bt-basic steps segon">
                                <span><i>0{{ stepsmax }}</i><p>On cal ajuda?</p></span>
                            </button>
                        </div>
                        {% endif %}
                        <ul class="titol-xxs visible-xxs-block">
                            {% for step in steps %}
                                <li id="title_step_{{ loop.index }}" {% if not loop.first %}style="display:none"{% endif %}>
                                    {{ step.step_title }}
                                </li>
                            {% endfor %}
                            {% if projectes %}
                                <li id="title_step_{{ stepsmax }}" style="display:none">On cal ajuda?</li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </header><!--/.contingut-header -->

                <!-- section paragraf + llista elements icona -->
                <section class="contingut-section">
                    <!--.row -->
                    {% for step in steps %}
                    <div id="step_{{ loop.index }}" class="step_div" {% if not loop.first %}style="display: none;"{% endif %}>
                        {{ step.step_content }}
                    </div>
                    {% endfor %}

                    {% if projectes %}
                        <div id="step_{{ stepsmax }}" class="step_div" style="display: none;">
                            <header class="contingut-header" style="text-align: center;background: #eae8e8;padding: 10px 20px 20px 20px;">
                                <p>
                                    La manera més senzilla de col·laborar amb nosaltres és
                                    a través del nostre grup de Telegram.
                                </p>
                                <p style="font-size: 1.2em;">
                                    <a href="https://t.me/Softcatala_Collaboradors">
                                        <span style="color:#0088cc"><i class="fa fa-telegram"></i>&nbsp;</span>
                                        Uniu-vos al grup del Telegram fent clic aquí
                                    </a>
                                </p>
                            </header>
                            <p>
                                Si preferiu involucrar-vos en algun projecte específic, a
                                continuació teniu la llista de tots els projectes de Softcatalà que
                                requereixen col·laboradors del vostre perfil.
                                Feu clic a «Col·laboreu-hi» per apuntar-vos.
                            </p>
                            <!-- .row -->
                            <div class="row">
                                {% for projecte in projectes %}
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="thumbnail thumbnail-gris-img ribbon-container">
                                            <a href="#" title="{{ projecte.title }}" data-llista="{{ projecte.llista_de_correu }}" data-projecteslug="{{ projecte.slug }}" data-projecte="{{ projecte.title }}" class="link_colabora">
                                                {% if projecte.logotip %}
                                                {% set project_img = projecte.logotip|get_img_from_id %}
                                                    <div class="project_list_img">
                                                        <img src="{{ project_img|resize(90, 90, 'top') }}" alt="logotip {{ projecte.title }}">
                                                    </div>
                                                {% else %}
                                                    <i style="font-size: 90px" class="fa fa-cogs"></i>
                                                {% endif %}
                                                <div class="caption">
                                                    <h3>{{ projecte.title }}</h3>
                                                    <p>{{ projecte.post_excerpt|truncate_words(15) }}</p>
                                                    <span class="bt-aneu">col·laboreu-hi<i class="fa fa-chevron-right"></i></span>
                                                </div>
                                            </a>
                                            {% if projecte.projecte_destacat %}
                                                <div class="ribbon left orange">
                                                    <a>destacat</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div><!--/.row -->
                        </div>
                        <!--/.row -->
                    {% endif %}

                    <!-- .bt-seguent -->
                    <div class="row">
                        <div class="intern">
                            <input type="hidden" name="projecte_id" id="projecte_id" value="{{ projecte.ID }}" />
                            <button id="bt-next" type="button" class="bt-basic bt-seguent intern-center">següent</button>
                        </div>
                    </div><!--/.bt-seguent -->
                </section><!--/ section paragraf + llista elements icona -->
            </div><!--/.contingut -->

            {% include "sidebar.twig" %}
        </div><!--/.row -->
    </div><!--/.container-fluid -->
</main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->

    {% include "form-collaborar.twig" %}

    {% include "template-avis.twig" %}


{% endblock %}
