<!-- .modal -->
<div class="modal fade bs-afegeixprograma-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- .modal-content -->
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            <!-- .formulari 1 -->
            <div class="formulari" id="form_1">
                <!-- .contingut-header -->
                <header class="contingut-header">
                    <div class="row">
                        <div class="col-xxs-12 col-xs-9">
                            <h1>Voleu afegir un programa nou?</h1>
                            <p>Escriviu el nom del programa que voleu afegir i feu clic al botó de cerca per comprovar si ja existeix a la nostra base de dades.</p>
                        </div>
                        <div class="col-xxs-12 col-xs-3">
                            <span class="contador-formulari">1<i>/</i>4</span>
                        </div>
                    </div>
                </header><!--/.contingut-header -->

                <!-- .contingut-section - paragraf -->
                <section class="contingut-section">
                    <p>{{ conditions_text }}</p>

                    <!-- .contingut-section - paragraf -->
                    <form id="second_step">
                    <section class="contingut-section">
                        <!-- camp -->
                        <div class="col-sm-6" style="margin-left: -15px;">
                            <input type="text" id="nom_programa" class="form-control" placeholder="Libreoffice, VLC..." required>
                        </div>
                        <!-- camp -->
                        <p/>
                    </section>
                    <section class="contingut-section">
                        <div class="form-horizontal">
                            <div class="form-botons row form-group">
                                <div class="col-xs-4 col-sm-4 bt-puja">
                                    {{ function('wp_nonce_field', 'search_program', '_wpnonce_program_search') }}
                                    <button id="cerca_programa" type="submit" class="form-control bt-basic bt-basic-petit">Cerca... <i id="loading" class="fa fa-spinner fa-pulse" style="display: none;"></i></button>
                                </div>
                            </div><!--/botons -->
                        </div>
                    </section>
                    </form>
                    <section class="contingut-section">
                        <p id="text_response"></p>
                        <p id="llistat_programes">

                        </p>
                        <div class="form-horizontal">
                            <div class="form-botons row form-group">
                                <div class="form-boto col-xs-6">
                                    <button id="pas_1" type="submit" class="next_step bt-basic bt-basic-vermell-fosc" style="display: none;">Ves al formulari</button>
                                </div>
                            </div><!--/botons -->
                        </div>
                    </section>
                </section><!--/.contingut-section - paragraf -->
            </div><!--/.formulari -->

            <section class="contingut-section">
                <!-- .formulari 2 -->
                <div class="formulari" id="form_2" style="display: none;">
                    <!-- .contingut-header -->
                    <header class="contingut-header">
                        <div class="row">
                            <div class="col-xxs-12 col-xs-9">
                                <h1>Empleneu els camps següents amb la informació del programa</h1>
                            </div>
                            <div class="col-xxs-12 col-xs-3">
                                <span class="contador-formulari">2<i>/</i>4</span>
                            </div>
                        </div>
                    </header><!--/.contingut-header -->

                    <form class="form-horizontal" id="programa_form" method="post">
                        <!-- camp -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">El vostre correu *</label>
                            <div class="col-sm-6">
                                <input type="email" name="email_usuari" class="form-control" placeholder="usuari@gmail.cat ..." required>
                            </div>
                        </div>
                        <!-- camp -->

                        <!-- camp -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Comentaris</label>
                            <div class="col-sm-8">
                                <textarea name="comentari_usuari" rows="2" class="form-control" placeholder="Afegiu aquí qualsevol comentari que vulgueu donar"> </textarea>
                            </div>
                        </div>
                        <!-- camp -->

                        <!-- camp -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nom del programa *</label>
                            <div class="col-sm-6">
                                <input type="text" name="nom" class="form-control" placeholder="Libreoffice, VLC..." required>
                            </div>
                        </div>
                        <!-- camp -->



                        <!-- camp -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Lloc web *</label>
                            <div class="col-sm-6">
                                <input type="url" name="lloc_web" class="form-control" placeholder="http://www.libreoffice.com, ..." required>
                            </div>
                        </div>
                        <!-- camp -->

                        <!-- camp -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Descripció *</label>
                            <div class="col-sm-8">
                                <textarea rows="5" name="descripcio" class="form-control" required></textarea>
                            </div>
                        </div>
                        <!-- camp -->

                        <!-- camp -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Categoria *</label>
                            <!-- col-sm-9 -->
                            <div class="col-sm-9">
                                <div class="row">
                                    {% for row in categories.categories_programes|safe_batch((categories.categories_programes|length)/3) %}
                                        <!-- col-sm-4 -->
                                        <div class="col-sm-4">
                                            {% for category in row %}
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" name="categoria_programa" value="{{ category.ID }}" required> {{ category.name }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- col-sm-4 -->
                                    {% endfor %}
                                </div>
                            </div><!--/col-sm-9 -->
                        </div>
                        <!-- .camp -->

                        <div class="row">
                            <div class="intern">
                                <button href="#mes_camps_programa" type="button" class="bt-basic bt-mes intern-center" data-toggle="collapse">més camps<i class="fa fa-angle-down"></i></button>
                            </div>
                        </div>

                        <div id="mes_camps_programa" class="collapse">
                            <br/><br/>
                            <!-- camp -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Autor del programa</label>
                                <div class="col-sm-6">
                                    <input type="text" name="autor" class="form-control" placeholder="Microsoft, Automattic...">
                                </div>
                            </div>
                            <!-- camp -->
                            <!-- camp -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Llicència</label>
                                <!-- col-sm-9 -->
                                <div class="col-sm-6">
                                        <select class="form-control selectpicker" name="llicencia" id="llicencia">
                                            {% for category in categories.llicencies %}
                                                <option value="{{ category.ID }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                </div><!--/col-sm-9 -->
                            </div>
                            <!-- camp -->
                            <!-- camp -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Autor de la traducció</label>
                                <div class="col-sm-6">
                                    <input type="text" name="autor_traduccio" class="form-control" placeholder="Joan Vicent Moragues...">
                                </div>
                            </div>
                            <!-- camp -->
                            <!-- camp -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Logo</label>
                                <div class="col-sm-9 col-md-6">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 bt-puja">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="file" name="logo">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .camp -->
                            <!-- camp -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Captura de pantalla en català</label>
                                <div class="col-sm-9 col-md-6">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 bt-puja">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="file" name="captura">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .camp -->
                        </div>
                        <div class="form-horizontal">
                            <div class="form-botons row form-group">
                                <div class="form-boto col-xs-6">
                                    {{ function('wp_nonce_field', 'add_new_program', '_wpnonce_program') }}
                                    <button type="submit" class="next_step bt-basic bt-basic-vermell-fosc">Envia la informació</button>
                                </div>
                            </div><!--/botons -->
                        </div>
                    </form>
                </div><!--/.formulari -->
            </section>

            <!-- .formulari 3 -->
            <div class="formulari" id="form_3" style="display: none;">
                <!-- .contingut-header -->
                <header class="contingut-header">
                    <div class="row">
                        <div class="col-xxs-12 col-xs-9">
                            <h1>Informació sobre les baixades</h1>
                            <p>A continuació podeu emplenar la informació sobre els enllaços de baixada, sistema operatiu, etc.</p>
                        </div>
                        <div class="col-xxs-12 col-xs-3">
                            <span class="contador-formulari">3<i>/</i>4</span>
                        </div>
                    </div>
                </header><!--/.contingut-header -->
                <form id="baixades_form" class="form-horizontal" method="post">
                    {% include 'baixades_form.twig' %}

                    <!-- botons -->
                    <div class="form-horizontal">
                        <div class="form-botons row form-group">
                            <div class="form-boto col-xs-6">
                                <input type="hidden" id="programa_id" name="programa_id" value="" />
                                {{ function('wp_nonce_field', 'add_new_baixada', '_wpnonce_baixada') }}
                                <button type="submit" class="bt-basic bt-basic-vermell-fosc">Envia les dades <i id="loading_program" class="fa fa-spinner fa-pulse" style="display: none;"></i></button>
                            </div>
                        </div><!--/botons -->
                    </div>
                </form><!--/.contingut-section - paragraf -->
            </div><!--/.formulari -->

            <!-- .formulari 4 -->
            <div class="formulari" id="form_4" style="display: none;">
                <!-- .contingut-header -->
                <header class="contingut-header">
                    <div class="row">
                        <div class="col-xxs-12 col-xs-9">
                            <h1>Gràcies per enviar-nos aquesta informació!</h1>
                            <p>La revisarem i la publicarem tan aviat com puguem.</p>
                        </div>
                        <div class="col-xxs-12 col-xs-3">
                            <span class="contador-formulari">4<i>/</i>4</span>
                        </div>
                    </div>
                </header><!--/.contingut-header -->
            </div><!--/.formulari -->
        </div><!-- .modal-content -->

    </div>
</div><!-- /.modal -->
