<!-- .aside-right -->
<aside class="aside-right col-sm-3">
    {{sidebar_top}}
    <div class="caixa-gris">
        <p>Teniu algun dubte?</p>
        <a href="/forum"><i class="fa fa-question-circle"></i><span>Al fòrum resolem totes les qüestions</span></a>
    </div>
    {% if post.baixades_relacionades_noticia %}
          {% if post.baixades_relacionades_noticia is iterable %}
          {% for baixada in post.baixades_relacionades_noticia %}
              {% set caption_from_media = baixada|get_caption_from_media_url %}
              {% if caption_from_media %}
              {% if not baixades_exist %}
                <div class="caixa-gris">
                {% set baixades_exist = true %}
              {% endif %}
              <a href="{{ baixada }}"><i class="fa fa-download"></i><span>{{ caption_from_media }}</span></a>
              {% endif %}
              {% if loop.last and baixades_exist %}</div>{% endif %}
            {% endfor %}
            {% else %}
              {% set caption_from_media = post.baixades_relacionades_noticia|get_caption_from_media_url %}
              {% if caption_from_media %}
              <div class="caixa-gris">
              <a href="{{ post.baixades_relacionades_noticia }}"><i class="fa fa-download"></i><span>{{ caption_from_media }}</span></a>
              </div>
              {% endif %}
          {% endif %}
          </div>
        {% endif %}
    {% if links %}
        <div class="caixa-gris enllacos">
            {% for link in links %}
                <a href="{{ link.link_url }}">{{ link.link_title }}</a>
                <p>{{ link.link_description }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {{sidebar_bottom}}
</aside><!--/.aside-right -->