<!-- .aside-right -->
<aside class="aside-right col-sm-3">
    {{sidebar_top}}
    <div class="caixa-gris">
        <p>Teniu algun dubte?</p>
        <a href="/forum"><i class="fa fa-question-circle"></i><span>Al fòrum resolem totes les qüestions</span></a>
    </div>
    {% if post.baixades_relacionades_noticia %}
        <div class="caixa-gris">
            {% if post.baixades_relacionades_noticia is iterable %}
                {% for baixada in post.baixades_relacionades_noticia %}
                    <a href="{{ baixada }}"><i class="fa fa-download"></i><span>{{ baixada|get_caption_from_media_url }}</span></a>
                {% endfor %}
            {% else %}
                <a href="{{ post.baixades_relacionades_noticia }}"><i class="fa fa-download"></i><span>{{ post.baixades_relacionades_noticia|get_caption_from_media_url }}</span></a>
            {% endif %}
        </div>
    {% endif %}
    {% if links %}
        <div class="caixa-gris enllacos">
            {% for link in links %}
                <a href="{{ link.link_url }}">{{ link.link_title }}</a>
                <p>{{ link.link_description }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {{sidebar_bottom}}
</aside><!--/.aside-right -->