{% extends "base.twig" %}

{% block content %}
	<!-- .main .wrap-blanc -->
    <main class="main wrap-blanc blog">
		<!-- .main-header -->
		{% include "contingut-header.twig" %}
		<!--/.main-header -->

      <div class="container-fluid">
        <div class="row">

          <!-- .contingut -->
          <div class="contingut contingut-left col-sm-9">

            <!-- .contingut-article -->
            <article class="contingut-article">

              <!-- .contingut-header -->
              <header class="contingut-header">
              	{% if post.post_excerpt %}
                	<p>{{ post.post_excerpt }}</p>
            	{% endif %}
            	{% if post.thumbnail.src %}
            		<img alt="{{post.title}}" src="{{post.thumbnail.src}}">
            		{% if post.thumbnail.caption %}
                	<em class="peu-foto">{{post.thumbnail.caption}}</em>
                	{% endif %}
                {% endif %}
                {% if post.terms('tags') %}
                    <div class="bt-grup">
                	{% for term in post.terms('tags') %}
	                  <a class="bt-basic active" href="{{term.link}}">{{term.name}}</a>
	            	{% endfor %}
                    </div>
	            {% endif %}
                <div class="data">
                  <time itemprop="dateCreated" datetime="{{post.post_date|date('Y-n-j')}}">{{post.post_date|date('j M Y')}}</time><span>|</span>Publicat per <a href="{{post.author.path}}">{{ post.author.name }}</a>
                </div>
                <hr class="clara">
              </header><!--/.contingut-header -->

              <!-- .contingut-section -->
              <section class="contingut-section">{{post.content}}</section><!--/.contingut-section -->

            </article><!--/.contingut-article -->

            <!-- .comentaris -->
            <section class="comentaris">
              <hr>
              <div class="row comentari-header">
                <div class="col-xxs-12 col-xs-8 col-sm-8">
                  <h2>Comentaris</h2>
                </div>
                <div class="col-xxs-12 col-xs-4 col-sm-4">
                  <button type="button" class="bt-basic respon_link" id="0">Escriviu un comentari</button>
                </div>
              </div>
				<article class="article-comentari">
				<div id="comment-0"></div>
				</article>
      			{% for cmt in post.get_comments() %}
				{% if loop.index == 20 %}<div id="mescomentaris" class="collapse">{% endif %}
                <article class="article-comentari">
      			{% include "comment.twig" with {comment:cmt} %}
                {% if cmt.children %}
                  {% for cmtch1 in cmt.children %}
                    <article class="article-comentari">
                    {% include "comment.twig" with {comment:cmtch1, is_child:1} %}
                    </article>
                  {% endfor %}
                {% endif %}
                </article>
				{% if loop.index > 20 %}{% if loop.last %}</div>{% endif %}{% endif %}
				{% if loop.index > 20 %}
				  {% if loop.last %}
				  <div class="row">
					<div class="intern">
					  <button data-toggle="collapse" class="bt-basic bt-mes intern-center" type="button" href="#mescomentaris">més<i class="fa fa-angle-down"></i></button>
					</div>
				  </div>
				  {% endif %}
				{% endif %}
      			{% endfor %}
            </section>
			
			<div id="comment_form_flexible" style="display: none;">
			  {% include "comment_form.twig" %}
			</div>
			<script>
			  $( ".respon_link" ).click(function() {
				$('#hide_clean_form').click();
				$("#comment_form_flexible").detach().appendTo('#comment-'+this.id);
				$("#comment_parent").val(this.id);
				if (this.id == '0') {
				  $( "#comment_flexible_form" ).css( "margin-left", "0" );
				} else {
				  $( "#comment_flexible_form" ).css( "margin-left", "68px" );
				}
				jQuery("#comment_form_flexible").fadeIn();
			  });
			  
			  $( "#hide_clean_form" ).click(function() {
				$("#comment_form_flexible").hide();
				$("#author").val('Nom');
				$("#comment").val('Comentari');
				$("#email").val('E-mail');
			  });
			</script>
            
            <hr>


          </div><!--/.contingut -->

          {% include "sidebar.twig" %}
		  </div><!--/.row -->
  </div><!--/.container-fluid -->
</main><!--/.main .wrap-blanc -->


	<!-- .seccio-vermella -->
	{% include "call-to-action-bottom.twig" %}
	<!--/.seccio-vermella -->
{% endblock %}
