{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc blog">
        <!-- .main-header -->
        {% include "contingut-header.twig" %}
        <!--/.main-header -->

      <div class="container-fluid">
        <div class="row">

          <!-- .contingut -->
          <div class="contingut contingut-left col-sm-9">

            <!-- .contingut-article -->
            <article class="contingut-article">

              <!-- .contingut-header -->
              <header class="contingut-header">
                <div class="row">
                    <div class="col-md-6" style="text-align: center;">
                        <style>
                            .box-shadow {
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                            }
                        </style>
                      {% if post.thumbnail.src %}
                          <img class="box-shadow" style="width: auto" alt="{{post.title}}" src="{{post.thumbnail.src | resize(300)}}">
                      {% endif %}
                    </div>
                    <div class="col-md-4">
                      <div class="data" style="margin-top:100px;font-variant: all-small-caps;font-weight: bold;text-align: center;font-size: 1.2em;">
                          <div>
                              Temporada {{ post.episode_season }}
                              {% if post.episode_type == 'full' %}
                              - Episodi {{ post.episode_number }}
                              {% elseif post.episode_type == 'bonus' %}
                              - Extra
                              {% endif %}
                          </div>
                          <time itemprop="dateCreated" datetime="{{post.post_date|date('Y-m-j')}}">
                              {{post.post_date|date}}
                          </time>
                      </div>
                      {% if post.terms('tags') %}
                          <div class="bt-grup">
                              {% for term in post.terms('tags') %}
                                  <a class="bt-basic active" href="{{term.link}}">{{term.name}}</a>
                              {% endfor %}
                          </div>
                      {% endif %}
                    </div>
                </div>
                <hr class="clara">
              </header><!--/.contingut-header -->

              <!-- .contingut-section -->
              <section class="contingut-section">
                  {{ function('do_shortcode', '[audio preload="auto" mp3=' ~ episode.enclosure.url  ~ ']') }}
                  <hr class="clara">
                  {{post.content}}
              </section><!--/.contingut-section -->

            </article><!--/.contingut-article -->

            <!-- .comentaris -->
              {% include "comentaris.twig" %}
            <!-- .comentaris -->
            <hr>


          </div><!--/.contingut -->

          {% include "sidebar.twig" %}
          </div><!--/.row -->
  </div><!--/.container-fluid -->
</main><!--/.main .wrap-blanc -->


    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->
{% endblock %}
