{% extends "base.twig" %}

{% block content %}
    <!-- .main .wrap-blanc -->
    <main class="main wrap-blanc membre cd-main-content">

        <!-- .main-header -->
        <header class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xxs-12 col-xs-8 col-sm-9">
                        <h1>{{ author.first_name }} {{ author.last_name }}</h1>
                        {% include "share_links.twig" %}
                    </div>
                </div>
            </div>
        </header><!--/.main-header -->

        <div class="container-fluid">
            <div class="row">

                <!-- .cont-aside-left -->
                <aside class="aside-left col-sm-12 col-md-3">

                    <div class="row">

                        <div class="img-membre col-xxs-12 col-xs-6 col-md-12">
                            {% if author_image %}
                                <img src="{{ author_image }}" alt="{{ author.first_name }} {{ author.last_name }}"/>
                            {% endif %}
                        </div>

                        <div class="col-xxs-12 col-xs-12 col-md-12">
                            <div class="fitxa-membre">
                                <i class="fa fa-envelope-o"></i>
                                <ul class="mail">
                                    <li>Adreça electrònica</li>
                                    <li>{{ author.user_email }}</li>
                                </ul>
                                {% if attribute(author,'wpcf-llocs_web') %}
                                <hr>
                                <i class="fa fa-globe"></i>
                                <ul class="lloc-web">
                                    <li>LLocs web</li>
                                    {% if attribute(author,'wpcf-llocs_web') is iterable %}
                                        {% for lloc_web in attribute(author,'wpcf-llocs_web') %}
                                        <li><a href="{{ lloc_web }}">{{ lloc_web }}</a></li>
                                        {% endfor %}
                                    {% else %}
                                        <li><a href="{{ attribute(author,'wpcf-llocs_web') }}">{{ attribute(author,'wpcf-llocs_web') }}</a></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                                <hr>
                                <ul class="info">
                                    <li><i class="fa fa-bookmark"></i>{{ author_role }}</li>
                                </ul>
                            </div>
                        </div>

                        {% if attribute(author,'wpcf-ubicacio') %}
                        <div class="ubicacio col-xxs-12 col-xs-6 col-md-12">
                            <h2>ubicació</h2>
                            <div class="mapa">
                                {{ attribute(author,'wpcf-ubicacio') }}
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </aside><!--/.cont-aside-left -->

                <!-- .contingut -->
                <div class="contingut col-sm-12 col-md-9">
                    <!-- .contingut-section - paragraf + llistes -->
                    {% if author_content %}
                    <section class="contingut-section">{{ author_content }}</section>
                    {% endif %}

                    {% if projectes %}
                    <section class="contingut-section">
                    <h3>Participa en els projectes següents</h3>
                    {% for row in projectes|batch(projectes|length/2) %}
                        <ul class="llista-check col-sm-6">
                        {% for projecte in row %}
                            <li>
                                <a href="{{ projecte.link }}" title="{{ projecte.title }}">
                                    <i class="fa fa-check"></i>
                                    <span>{{ projecte.title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                    </section>
                    {% endif %}
                </div><!--/.contingut -->

            </div><!--/.row -->
        </div><!--/.container-fluid -->
    </main><!--/.main .wrap-blanc -->

    <!-- .seccio-vermella -->
    {% include "call-to-action-bottom.twig" %}
    <!--/.seccio-vermella -->
{% endblock %}
